<div class="row wrapper wrapper-content">
    <div class="col-md-12 mgb-20">
        <h2>Warehouse Routing</h2>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="date">Date</label>
            <input type="date" class="form-control" id="date" placeholder="Select date" ng-model="model.forDate">
        </div>
        <a href="javascript:void(0)" class="btn btn-primary" ng-hide="model.planningInProcess" ng-click="model.loadDeliveriesForDate()">Filter</a>
        <a href="javascript:void(0)" class="btn btn-primary" ng-click="model.startPlanning()" ng-hide="model.resultsList.length === 0 || model.planningInProcess || model.assigned">Do route planning!</a>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeIn" ng-if="model.resultsList.length !== 0 && !model.planned">
    <div class="row">
        <div class="col-md-12">
            <div ng-if="model.planningInProcess">
                <h1 class="text-center">
                    Waiting...
                </h1>
                <p class="text-center">
                    (This may take a while)
                </p>
            </div>
            <div class="table-responsive" ng-if="!model.planningInProcess && !this.assigned">
                <table class="table">
                    <thead>
                    <tr>
                        <th><input type="checkbox" ng-model="model.deliveryChecked" ng-click="model.toggleCheck()"></th>
                        <th>Zone</th>
                        <th>Delivery Id</th>
                        <th>Delivery address</th>
                        <th>Zip code</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="delivery in model.resultsList">
                            <td><input type="checkbox" ng-model="delivery.checked"></td>
                            <td ng-bind="delivery.zone"></td>
                            <td ng-bind="delivery.delivery_id"></td>
                            <td ng-bind="delivery.address"></td>
                            <td ng-bind="delivery.zip"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeIn" ng-if="model.resultsList.length !== 0 && model.planned">
    <div class="row">
        <div class="col-md-12">
            <!-- <div ng-if="model.planningInProcess">
                <h1 class="text-center">
                    Waiting...
                </h1>
                <p class="text-center">
                    (This may take a while)
                </p>
            </div> -->
            <table class="table">
                <thead>
                <tr>
                    <th>Zone</th>
                    <th>Drops Count</th>
                    <th>Km</th>
                    <th>Time</th>
                    <th>Drops</th>
                </tr>
                </thead>
                <tr ng-repeat="route in model.resultsList">
                   
                    <td>
                        {{route.zone}}
                    </td>
                    <td>
                        {{route.result.deliveries.length}}
                    </td>
                    <td>
                        {{route.result.distance/1000 | number:2}}
                    </td>
                    <td>
                        {{model.formatDuration(route.result.duration)}}
                    </td>
                    <td>
                        <!-- {{model.getDropsString(route.deliveries)}} -->
                        <div ng-repeat="deliveryId in route.result.deliveries">
                            {{deliveryId}}
                        </div>
                    </td>
                </tr>
            </table>         
        </div>
    </div>
</div>
