<div style="padding-top:0px;" class="wrapper wrapper-content animated fadeInRight deliveryrequest">
  
  <form name="deliveryForm" ng-submit="model.UpdateRequest(deliveryForm, deliveryForm.$valid)" novalidate>
      <div class="row">
          <div class="col-md-8">
              <div class="ibox">
                  <div class="ibox-title">
                      <h4>RECIPIENT</h4>
                  </div>   
                  <div class="ibox-content">       
                      <div> 
                          <div class="form-group row">
                              <label class="col-md-4 col-form-label">
                                Recipient ID
                              </label>
                              <div class="col-md-8">
                                  <input ng-model="recipient_id" name="recipient_id" type="text" class="ng-pristine ng-untouched ng-valid form-control">
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-md-4 col-form-label">
                                Recipient Name*
                              </label>
                              <div class="col-md-8">
                                  <input ng-model="recipient_name" name="recipient_name" type="text"
                                      placeholder="Name"
                                      class="ng-pristine ng-untouched ng-valid form-control" required>
                                  <p ng-show="deliveryForm.recipient_name.$invalid && !deliveryForm.recipient_name.$pristine"
                                      class="error-block">Recipient Name is required.</p>
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-md-4 col-form-label">
                                Recipient Phone*
                              </label>
                              <div class="col-md-2">
                                  <select class="form-control" style="min-height: 30px;" ng-model="deliveryCountry"
                                          ng-options="obj.value as obj.name for obj in deliveryCountryOptions"></select>
                              </div>            
                              <div class="col-md-6">
                                  <input ng-model="recipient_phone_number" name="recipient_phone_number" type="text"
                                      class="ng-pristine ng-untouched ng-valid form-control" placeholder="xxxxxxxxxx" required>
                                  <p ng-show="deliveryForm.recipient_phone_number.$invalid && !deliveryForm.recipient_phone_number.$pristine"
                                  class="error-block">Recipient phone number is required.</p>
                              </div>            
                          </div>
                          <div class="form-group row">
                              <label class="col-md-4 col-form-label">
                                Recipient Email
                              </label>
                              <div class="col-md-8">
                                  <input ng-model="recipient_email" name="recipient_email" type="email"
                                      class="ng-pristine ng-untouched ng-valid form-control" placeholder="name@domain.com">
                                  <p ng-show="deliveryForm.recipient_email.$invalid && !deliveryForm.recipient_email.$pristine"
                                  class="error-block"> Enter a valid recipient email.</p>
                              </div>
                          </div>
                      </div>
                  </div>   
              </div>
              <div class="ibox">
                  <div class="ibox-title">
                      <h4>DELIVERY</h4>
                  </div>   
                  <div class="ibox-content">
                      <div>
                          <div class="form-group row">
                                  <label class="col-md-4 col-form-label">External Delivery ID*</label>
                                  <div class="col-md-8">
                                      <input ng-model="delivery_id" name="delivery_id" type="text"
                                      class="ng-pristine ng-untouched ng-valid form-control" required>
                                      <p ng-show="deliveryForm.delivery_id.$invalid && !deliveryForm.delivery_id.$pristine"
                                          class="error-block"> Delivery ID is required.</p>
                                      <p>Delivery id can be defined as any value you'd like (eg a PO number)</p>
                                  </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-md-4 col-form-label">Status</label>
                              <div class="col-md-8">
                                      <select class="form-control" style="min-height: 30px;" ng-model="deliveryStatus"
                                      ng-options="obj.value as obj.name for obj in deliveryStatusOptions"></select>
                              </div>
                          </div>
                          <div class="form-group row">
                                  <label class="col-md-4 col-form-label">
                                    Delivery Date*
                                  </label>
                                  <div class="col-md-8">
                                      <div class="input-group date">
                                          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                          <datepicker date-format="MMMM d, y" date-min-limit="model.minDate" required>
                                              <input ng-model="delivery_date" class="form-control" name="delivery_date" type="text"
                                                      style="height: 30px;" required/>
                                              <!-- <p ng-show="deliveryForm.delivery_date.$invalid && !deliveryForm.delivery_date.$pristine"
                                                  class="error-block">Delivery Date is required.</p> -->
                                          </datepicker>
                                      </div>
                                  </div>
                              </div>
                          <div class="form-group row">
                                  <label class="col-md-4 col-form-label">
                                    Delivery Date is required.
                                  </label>
                                  <div class="col-md-3">
                                      <div data-autoclose="true" class="input-group clockpickerFromPick">
                                          <input type="text"
                                              placeholder="Time From"
                                              ng-model="deliveryForm.delivery_window_start"
                                              class="form-control"><span
                                              class="input-group-addon"><span class="fa fa-clock-o"></span></span></div>
                                  </div>
              
                                  <div class="col-md-1"
                                          style="font-weight:bold; font-size:14px; line-height: 30px; max-width: 65px; ">
                                          To
                                  </div>
                                  <div class="col-md-3">
                                      <div data-autoclose="true" class="input-group clockpickerFromPick">
                                          <input type="text"
                                              placeholder="Time To"
                                              ng-model="deliveryForm.delivery_window_end"
                                              class="form-control"><span
                                      class="input-group-addon"><span class="fa fa-clock-o"></span></span></div>
                                  </div>
                              </div>
                          <div class="form-group row">
                              <label class="col-md-4 col-form-label">
                                Delivery Location
                              </label>
                              <div class="col-md-8">
                                  <input id="delivery_location_address" ng-model="delivery_location_address" g-places-autocomplete
                                          name="delivery_location_address" type="text"
                                          placeholder="Enter the Address" 
                                          class="ng-pristine ng-untouched ng-valid form-control"
                                          required>
                                  <p ng-show="deliveryForm.delivery_location_address.$invalid && !deliveryForm.delivery_location_address.$pristine"
                                      class="error-block">Delivery Location</p>
                              </div>    
                          </div>
                          <div class="form-group row" style="padding-right:15px">
                              <div class="col-md-4"></div>
                              <div class="col-md-8">
                                  <div class="row">
                                      <div class="col-md-12">
                                          <input id="delivery_location_address_1" ng-model="delivery_location_address_1" type="text"
                                                  style="padding:5px; border: none; border-bottom:1px solid #b2b2b2; border-radius:0px;"
                                                  placeholder="Enter street address" class="ng-pristine ng-untouched ng-valid col-md-12"
                                                  required>
                                      </div>
                  
                                      <div class="col-md-12" style="margin-top: 10px;">
                                          <input ng-model="delivery_location_address_2" name="delivery_location_address_2" type="text"
                                                  style="padding:5px; border: none; border-bottom:1px solid #b2b2b2; border-radius:0px;"
                                                  placeholder="Floor/ apartment number (Optional)"
                                                  class="ng-pristine ng-untouched ng-valid col-md-12">
                                      </div>
                                      <div class="col-md-4" style="margin-top: 10px;">
                                          <input id="delivery_location_zip" ng-model="delivery_location_zip" type="text"
                                                  style="padding:5px; border: none; border-bottom :1px solid #b2b2b2; border-radius:0px;"
                                                  placeholder="Enter ZIP code" class="ng-pristine ng-untouched ng-valid col-md-12"
                                                  required>
                                      </div>
                  
                                      <div class="col-md-4" style="margin-top: 10px">
                                          <input id="delivery_location_city" ng-model="delivery_location_city" type="text"
                                                  style="padding:5px; border: none; border-bottom :1px solid #b2b2b2; border-radius:0px;"
                                                  placeholder="Enter city" class="ng-pristine ng-untouched ng-valid col-md-12" required>
                                      </div>
                  
                                      <div class="col-md-4" style="margin-top: 10px">
                                          <input id="delivery_location_country" ng-model="delivery_location_country" type="text"
                                                  style="padding:5px; border: none; border-bottom :1px solid #b2b2b2; border-radius:0px;"
                                                  placeholder="Enter country" class="ng-pristine ng-untouched ng-valid col-md-12" required>
                                      </div> 
                                  </div>
                              </div>           
                          </div>
                          <div class="form-group row">
                              <label class="col-md-4 col-form-label">
                                Number of packages
                              </label>
                              <div class="col-md-8">
                                  <select ng-model="deliveryForm.delivery_number_of_packages" class="form-control"
                                          ng-init="deliveryForm.delivery_number_of_packages='1'">
                                      <option value="1">1</option>
                                      <option value="2">2</option>
                                      <option value="3">3</option>
                                      <option value="4">4</option>
                                      <option value="5">5</option>
                                      <option value="6">6</option>
                                      <option value="1">7</option>
                                      <option value="2">8</option>
                                      <option value="3">9</option>
                                      <option value="4">10</option>
                                      <option value="5">11</option>
                                      <option value="6">12</option>
                                  </select>   
                              </div>
                          </div>
                          <div class="form-group row"  ng-if="currentDepartment.typeOfDelivery=='Express / On-demand'">
                              <label class="col-md-4 col-form-label">
                                Car type*
                              </label>
                              <div class="col-md-8">
                                      <select class="form-control" ng-model="deliveryForm.deliveryCarType"
                                      ng-options="obj.value as obj.name for obj in carTypes" ng-init="deliveryForm.deliveryCarType='Small van'"></select>
                              </div>
                          </div> 
                          <div class="form-group row" ng-if="currentDepartment.typeOfDelivery=='Distribution'">
                              <label class="col-md-4 col-form-label">
                                Distribution*
                              </label>
                              <div class="col-md-8">
                                      <select class="form-control" ng-model="deliveryForm.deliveryDistribution"
                                      ng-options="obj.value as obj.name for obj in distributions"></select>
                              </div>
                          </div> 
                          <div class="form-group row">
                              <label class="col-md-4 col-form-label">
                                Delivery Label
                              </label>
                              <div class="col-md-8">
                                      <input ng-model="delivery_label" name="delivery_label" type="text"
                                      class="ng-pristine ng-untouched ng-valid form-control"  placeholder="Delivery Label">
                              </div>
                          </div>     
                          <div class="form-group row">
                              <label class="col-md-4 col-form-label">
                                Delivery Notes
                              </label>
                              <div class="col-md-8">
                                  <textarea ng-model="delivery_notes" name="delivery_notes" type="text"
                                      placeholder="Delivery notes or comments"
                                      class="ng-pristine ng-untouched ng-valid form-control"
                                      rows="3"></textarea>
                              </div>
                          </div>                               
                              
                          <div class="form-group row">
                              <label class="col-md-4 col-form-label">
                                Full-coverage Insurance
                              </label>
                              <div class="col-md-8">
                                  <div class="row">
                                      <div class="col-md-2">
                                          <label class="switch" style="vertical-align:middle">
                                                  <input type="checkbox" name="full_insurance" ng-model="full_insurance">
                                                  <span class="slider round"></span>
                                          </label>
                                      </div>
                                      <div class="col-md-10" ng-if="full_insurance">
                                          <div class="row">
                                          <div class="col-md-6">
                                              <div class="input-group">
                                                  <div class="input-group-addon">
                                                      DDK
                                                  </div>
                                                  <input type="number" min="0" step="0.01" class="form-control" name="full_insurance_value" ng-model="full_insurance_value">
                                              </div>
                                          </div>    
                                          <div class="col-md-6" ng-if="full_insurance_value">
                                              <div style="vertical-align: -webkit-baseline-middle;display: inline-block;">(Insurance cost: {{full_insurance_value*0.5/100}} kr.)</div>
                                          </div>
                                          </div>
                                      </div>    
                                  </div>
                                  <p ng-if="full_insurance">
                                    Cargo insurance allows you to extend our standard coverage (19 SDR = ~172 DKK per kilo) to cover the full value of your goods being shipped
                                  </p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <!-- <div class="ibox">
                  <div class="ibox-title">
                      <h4>DEPARTMENT</h4>
                  </div> 
                  <div class="ibox-content">
                      <div class="form-group row">
                          <div class="col-md-12">
                                  <select class="form-control"
                                  ng-model="assignedDepartment"
                                  ng-change="model.changeDepartment()"
                                  ng-options="dep.name as dep.name for dep in departments"></select>
                          </div>   
                      </div>
                  </div>    
              </div> -->

              <div class="ibox">
                  <div class="ibox-title">
                      <h4>PICKUP</h4>
                  </div> 
                  <div class="ibox-content">
                      <div class="form-group row" ng-show="!model.pickup_components_showed">
                          
                          <div class="col-md-12">
                              <a href="javascript:void(0)"
                                  ng-click="model.showPickupComponents()">{{pickup_location_address}}. <span
                                      ng-if="!!deliveryForm.pickup_deadline && !!deliveryForm.pickup_deadline_to"> 
                                      Between {{deliveryForm.pickup_deadline}} and {{deliveryForm.pickup_deadline_to}}</span></a>
                          </div>
                      </div>

      
                      <div class="form-group row" ng-show="model.pickup_components_showed">
                          <label class="col-form-label col-md-2" style="width:60px">
                            From
                          </label>
                          <div class="col-md-4 pl-0 pr-0">
                              <div data-autoclose="true" class="input-group clockpickerFromPick">
                                  <input type="text" placeholder="Time From"
                                                          ng-model="deliveryForm.pickup_deadline" class="form-control"><span
                                      class="input-group-addon"><span class="fa fa-clock-o"></span></span></div>
                          </div>
      
                          <label class="col-md-2"  style="width:45px">
                                To
                          </label>
                          <div class="col-md-4 pl-0 pr-0">
                              <div data-autoclose="true" class="input-group clockpickerFromPick" data-align="right"><input type="text"
                                                                                                          placeholder="Time To"
                                                                                                          ng-model="deliveryForm.pickup_deadline_to"
                                                                                                          class="form-control"><span
                                      class="input-group-addon"><span class="fa fa-clock-o"></span></span></div>
                          </div>
                      </div>
                      <div class="form-group row" ng-show="model.pickup_components_showed">
                          <div ng-show="pickup_location_address_patterns.length > 1" class="col-md-12">
                              <select ng-attr-type="{{ pickup_location_address === 'Other' ? '' : 'required' }}"
                                      ng-model="pickup_location_address"
                                      ng-change="model.pickupSelect(pickup_location_address)"
                                      class="ng-pristine ng-untouched ng-valid form-control">
                                  <option ng-repeat="pattern in pickup_location_address_patterns" value="{{pattern.value}}">
                                      {{pattern.value}}
                                  </option>
                              </select>
                          </div>
                      </div>
                      <div class="form-group row" ng-show="model.pickup_components_showed && pickup_location_address == 'Other'">    
                          <div class="col-md-12">
                              <input id="custom_pickup_location_address"
                                  ng-model="custom_pickup_location_address"
                                  g-places-autocomplete
                                  name="custom_pickup_location_address" type="text"
                                  placeholder="Enter the Address"
                                  class="ng-pristine ng-untouched ng-valid form-control"
                                  ng-attr-type="{{ pickup_location_address === 'Other' ? 'required' : '' }}">
                              <p ng-show="(deliveryForm.pickup_location_address.$invalid || deliveryForm.custom_pickup_location_address.$invalid) && !deliveryForm.pickup_location_address.$pristine"
                              class="error-block">Search for address</p>
                          </div>
                      </div>
                      <div class="form-group row" ng-show="model.pickup_components_showed">
                          <div class="col-md-12 form-group">
                              <input id="pickup_location_address_1" ng-model="pickup_location_address_1" type="text"
                                      style="padding:5px; border: none; border-bottom :1px solid #b2b2b2; border-radius:0px;" placeholder="Enter street address"
                                      class="ng-pristine ng-untouched ng-valid form-control"
                                      required>
                          </div>
      
                          <div class="col-md-12 form-group">
                              <input ng-model="pickup_location_address_2" name="pickup_location_address_2" type="text"
                                      style="padding:5px; border: none; border-bottom :1px solid #b2b2b2; border-radius:0px;" placeholder="Floor/ apartment number (Optional)"
                                      class="ng-pristine ng-untouched ng-valid form-control">
                          </div>
                          <div class="col-md-12">
                              <div class="row">
                                  <div class="col-md-4 form-group">
                                      <input id="pickup_location_zip" ng-model="pickup_location_zip" type="text"
                                              style="padding:5px; border: none; border-bottom :1px solid #b2b2b2; border-radius:0px;" placeholder="Enter ZIP code"
                                              class="ng-pristine ng-untouched ng-valid form-control"
                                              required>
                                  </div>
              
                                  <!-- <div class="col-md-4 top-10"></div> -->
                                  <div class="col-md-4 form-group">
                                      <input id="pickup_location_city" ng-model="pickup_location_city" type="text"
                                              style="padding:5px; border: none; border-bottom :1px solid #b2b2b2; border-radius:0px;" placeholder="Enter city"
                                              class="ng-pristine ng-untouched ng-valid form-control" required>
                                  </div>
              
                                  <div class="col-md-4 form-group">
                                      <input id="pickup_location_country" ng-model="pickup_location_country" type="text"
                                              style="padding:5px; border: none; border-bottom :1px solid #b2b2b2; border-radius:0px;" placeholder="Enter country"
                                              class="ng-pristine ng-untouched ng-valid form-control" required>
                                  </div>
                                  </div>   
                          </div>        
                      </div>  
                  </div>
              </div>
          </div>    
          <div class="col-md-12" style="padding:20px 0;border-top:1px solid #ccc">
              <div style="text-align:center;">
                  <button style="padding:12px; font-weight:bold;" type="submit"
                              ng-disabled="deliveryForm.$invalid"
                              class="btn btn-primary"> Update Delivery
                  </button>
              </div>
          </div>
      </div>
  </form>
</div>

<script>
  $(document).ready(function () {
      $('.clockpickerFromPick').clockpicker();
  });

</script>