<div class="wrapper wrapper-content animated fadeInRight">
    <div ng-show="!assignDiv" class="">
        <div class="row mgb-20">
            <div class="col-sm-12"><h2 data-i18n="">Assign Drivers To Company's Department&nbsp;<strong
                    class="ng-binding">{{model.assignTo}}</strong></h2></div>
        </div>
        <div class="row"><!--.col-sm-3label Client Name-->
            <div class="col-sm-3"><label>Driver</label></div>
            <div class="col-sm-3"><label>Company</label></div>
            <div class="col-sm-3"><label>Department</label></div>
        </div>
        <div class="row mgb-20">
            <div class="col-sm-3">
                <ui-select ng-model="model.selectedDriver" theme="bootstrap" title="Choose a driver" append-to-body="true">
                    <ui-select-match>{{model.formatDriverLabel($select.selected)}}</ui-select-match>
                    <ui-select-choices repeat="option._id as option in model.carriers | filter: $select.search | limitTo: 50">
                        <div ng-bind-html="model.formatDriverLabel(option) | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="col-sm-3">
                <ui-select ng-model="model.selectedCompany" theme="bootstrap" title="Choose a company" append-to-body="true" ng-change="model.selectedDepartment = ''">
                    <ui-select-match>{{$select.selected.companyName}}</ui-select-match>
                    <ui-select-choices repeat="option in model.departments | filter: $select.search | limitTo: 50 | filter: {companyName: ''}">
                        <div ng-bind-html="option.companyName | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>

            <div class="col-sm-3">
                <ui-select ng-model="model.selectedDepartment" theme="bootstrap" title="Choose a department" append-to-body="true">
                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="option.name as option in model.selectedCompany.departments | filter: $select.search | limitTo: 50 | filter: { typeOfDelivery: 'Dedicated Drivers' } ">
                        <div ng-bind-html="option.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="col-sm-1">
                <button type="button" ng-click="model.assign()"
                        class="btn btn-info">Assign &nbsp;
                </button>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Company</th>
                    <th>Department</th>
                    <th>Driver</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="assigned in model.assignedDriversToDepartments">
                    <td ng-bind="assigned.company.companyName"></td>
                    <td ng-bind="assigned.department"></td>
                    <td ng-bind="assigned.driver.email + ', ' + assigned.driver.name || 'No name'"></td>
                    <td><div class="btn-group"><a ng-click="model.unAssign(assigned)" style="margin-right:3px" class="btn btn-danger"><i class="fa fa-times"></i></a></div></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>