<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-md-12 mgb-20">
            <h2>Manage Deliveries</h2>
        </div>
        <div class="form-group">
            <div class="row mgl-0">
                <div class="col-md-2 mgb-20">
                    <label for="date">From Date</label>
                    <input type="date" class="form-control" id="date" placeholder="Select start date" ng-model="model.forFromDate">
                </div>
                <div class="col-md-2 mgb-20">
                    <label>To Date</label>
                    <input type="date" class="form-control" id="date" placeholder="Select end date" ng-model="model.forToDate">
                </div>
                <!-- <div class="col-md-2 mgb-20">
                    <label>Client name</label>
                    <input type="text" class="form-control" placeholder="Enter client name" ng-model="model.forClientName">
                </div> -->
                <div class="col-md-2 mgb-20">
                    <label for="company">Company</label>
                    <ui-select ng-model="model.selectedCompany" theme="bootstrap" title="Choose a company" append-to-body="true">
                        <ui-select-match>{{$select.selected.companyName}}</ui-select-match>
                        <ui-select-choices repeat="option in model.departments | filter: $select.search | limitTo: 50 | filter: {companyName: ''}">
                            <div ng-bind-html="option.companyName | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="col-md-2 mgb-20">
                    <label for="date">Recipient Name</label>
                    <input type="text" class="form-control" placeholder="Enter recipient name" ng-model="model.forRecipientName">
                </div>
                <div class="col-md-2 mgb-20">
                    <label for="date">Address</label>
                    <input type="text" class="form-control" placeholder="Enter address" ng-model="model.forAddress">
                </div>
                <div class="col-md-2 mgb-20">
                    <label for="date">Area</label>
                    <input type="text" class="form-control" placeholder="Enter area" ng-model="model.forArea">
                </div>
                <div class="col-md-2 mgb-20">
                    <label for="date">Zone</label>
                    <input type="text" class="form-control" placeholder="Enter zone" ng-model="model.forZone">
                </div>
                <div class="col-md-2 mgb-20">
                    <label for="status">Status</label>
                    <select ng-model="model.filterStatus"
                    class="m-b form-control m-b">
                        <option value="">All</option>
                        <option ng-repeat="item in model.statuses" value="{{item.id}}">{{item.value}}</option>
                    </select>
                </div>
                

            </div>
            <div class="row mgl-15">
                <a href="javascript:void(0)" class="btn btn-primary" ng-click="model.loadDeliveriesForDate()">Filter</a>
            </div>
        </div>

        <!-- MOBILE AND EMAIL NOTIFICATIONS ROW START -->
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Client Name</th>
                            <th>Recipient Name</th>
                            <th>Phone Number</th>
                            <th>Address</th>
                            <th>Zone</th>
                            <th>Area</th>
                            <th>Status</th>
                            <th>Order</th>
                            <th>Estimated Time</th>
                            <th>Assign Drivers</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="delivery in model.editingDeliveriesList">
                            <td>
                                <input type="checkbox" ng-model="delivery.selected">
                            </td>
                            <td ng-bind="delivery.creatorName"></td>
                            <td ng-bind="delivery.recipientname"></td>
                            <td ng-bind="model.parsePhone(delivery.recipientphone)"></td>
                            <td ng-bind="model.parseAddress(delivery)"></td>
                            <td ng-bind="delivery.zone || '-'"></td>
                            <td ng-bind="delivery.area || '-'"></td>
                            <td style="vertical-align: middle;width: 10%;">
                                <!-- <div ng-class="{'text-green': (delivery.status == 1 || delivery.status == 2 || delivery.status == 3)}">
                                    <div class="font-weight-bold">{{model.showStatus(delivery.status)}}</div>
                                    <div ng-if="delivery.delivered_at"> Delivered at {{model.getLocalTime(delivery.delivered_at)}}</div>
                                </div> -->
                                <select name="status" ng-model="delivery.strStatus" class="m-b form-control m-b" ng-change="model.changeStatus(delivery._id, delivery.strStatus)">
                                    <option ng-repeat="x in model.deliveryStatuses" value="{{x.value}}">{{x.name}}</option>
                                </select>
                            </td>
                            <td>
                                <input class="form-control" ng-model="delivery.orderIndex" ng-change="model.changeData(delivery)">
                            </td>
                            <td>
                                <input type="time" class="form-control" placeholder="HH:MM" ng-model="delivery.editingEstimatedDate" ng-change="model.changeData(delivery)">
                            </td>
                            <td>
                                <div class="select-box">
                                    <ui-select ng-model="delivery.currentEditingAssigned" theme="bootstrap" title="Choose a person" append-to-body="true" ng-change="model.changeData(delivery)">
                                        <ui-select-match>{{$select.selected.text}}</ui-select-match>
                                        <ui-select-choices repeat="option.id as option in model.carriersDataForSearch | filter: $select.search">
                                            <div ng-bind-html="option.text | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </td>
                            <td>
                                <a href="javascript:void(0)" class="btn btn-primary glyphicon glyphicon-pencil" ng-click="model.editDelivery(delivery._id)"></a>
                            </td>
                            <!-- <td>
                                <a ng-click="model.deleteAssignment(delivery)">Remove assignment</a>
                            </td> -->
                        </tr>
                    </tbody>
                </table>
                <a href="javascript:void(0)" class="btn btn-primary" ng-click="model.confirm()">Confirm</a>
                <a href="javascript:void(0)" class="btn btn-primary" data-toggle="modal" data-target="#changeDateModal" ng-if="model.checkIfAnySelected()"
                    ng-click="model.resetNewDeliveriesDate()">Change selected deliveries date</a>
                <a href="javascript:void(0)" class="btn btn-primary" disabled ng-if="!model.checkIfAnySelected()">Change selected deliveries date</a>
                <!-- <a href="javascript:void(0)" class="btn btn-primary" data-toggle="modal" data-target="#changeStatusModal" ng-if="model.checkIfAnySelected()"
                    ng-click="model.resetnewDeliveriesStatus()">Change selected deliveries status</a>
                <a href="javascript:void(0)" class="btn btn-primary" disabled ng-if="!model.checkIfAnySelected()">Change selected deliveries status</a> -->
                <a href="javascript:void(0)" class="btn btn-primary" data-toggle="modal" data-target="#deleteModal" ng-if="model.checkIfAnySelected()">Delete selected</a>
                <a href="javascript:void(0)" class="btn btn-primary" disabled ng-if="!model.checkIfAnySelected()">Delete selected</a>
                <a href="javascript:void(0)" class="btn btn-primary" data-toggle="modal"  ng-click="model.getSelectedDeliveries()" data-target="#sendNotificationModal" ng-if="model.checkIfAnySelected()">Send Notification</a>
                <a href="javascript:void(0)" class="btn btn-primary" disabled ng-if="!model.checkIfAnySelected()">Send Notification</a>
                <a href="javascript:void(0)" class="btn btn-primary" data-toggle="modal" data-target="#addNote" ng-if="model.checkIfAnySelected()">Add Note</a>
                <a href="javascript:void(0)" class="btn btn-primary" disabled ng-if="!model.checkIfAnySelected()">Add Note</a>
                <a href="javascript:void(0)" class="btn btn-primary" data-toggle="modal" data-target="#removeAssignment" ng-if="model.checkIfAnySelected()">Remove assignment</a>
                <a href="javascript:void(0)" class="btn btn-primary" disabled ng-if="!model.checkIfAnySelected()">Remove assignment</a>
                <!-- <a href="javascript:void(0)" class="btn btn-primary" ng-if="model.checkIfAnySelected()" ng-click="model.editDelivery()">Edit Delivery</a>
                <a href="javascript:void(0)" class="btn btn-primary" disabled ng-if="!model.checkIfAnySelected()">Edit Delivery</a> -->

                <!-- changeDateModal -->
                <div class="modal fade" id="changeDateModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <h3>Enter new date</h3>
                                <div class="text-center action-row">
                                    <input type="date" class="form-control" ng-change="model.checkIfNewDeliveriesDateValid()" ng-model="model.newDeliveriesDate.value">
                                    <br>
                                </div>
                                <a data-dismiss="modal" class="btn btn-success" ng-if="model.newDeliveriesDate.isValid" ng-click="model.updateDate()">Confirm</a>
                                <a class="btn btn-success" disabled ng-if="!model.newDeliveriesDate.isValid">Confirm</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- changeDateModal -->

                <!-- changeStatusModal -->
                <div class="modal fade" id="changeStatusModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <h3>Choose new status</h3>
                                <div class="text-center action-row">
                                    <select ng-model="model.newDeliveriesStatus" class="m-b form-control m-b" ng-options="x.name for x in model.deliveryStatuses track by x.value">
                                    </select>
                                </div>
                                <a data-dismiss="modal" class="btn btn-success" ng-click="model.updateStatus()">Confirm</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- changeStatusModal -->

                <!-- deleteModal -->
                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <h3>Are you sure you want to delete selected deliveries?</h3>
                                <a data-dismiss="modal" class="btn btn-success" ng-click="model.deleteDeliveries()">Confirm</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- deleteModal -->

                <!-- sendNotificationModal -->
                <div class="modal fade" id="sendNotificationModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body" 
                                 style="padding-bottom: 50px">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Client Name</th>
                                            <th>Recipient Name</th>
                                            <th>Phone Number</th>
                                            <th>Address</th>
                                            <th style="width: 30%"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="delivery in model.notificatedDeliveries">
                                            <td ng-bind="delivery.creatorName"></td>
                                            <td ng-bind="delivery.recipientname"></td>
                                            <td ng-bind="model.parsePhone(delivery.recipientphone)"></td>
                                            <td ng-bind="model.parseAddress(delivery)"></td>
                                            <td>
                                                <div ng-if="delivery.display">
                                                    <div ng-class="{'alert-danger': !delivery.success, 'alert-success': delivery.success, 'alert': true}" role="alert">{{delivery.message}}</div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="form-group" style="display: none;">
                                    <label for="notifPattern">Select notification message</label>
                                    <select ng-model="model.notificationMessage" id="notifPattern" class="form-control">
                                        <option ng-repeat="pattern in model.notificationPatterns" value="{{pattern}}">{{pattern}}</option>
                                    </select>
                                </div>
                                <div class="form-group" ng-if="model.notificationMessage === 'Other'">
                                    <label for="notifMessage">Enter your own notification message</label>
                                    <textarea maxlength="160" rows="3" style="resize: none;" class="form-control" id="notifMessage" placeholder="Enter your own message" ng-model="model.customNotificationMessage"></textarea>
                                </div>
                                <button ng-click="model.sendNotifications()" class="btn btn-success pull-right">Send Notification</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- sendNotificationModal -->

                <!-- sendNotificationModal -->
                <div class="modal fade" id="addNote" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body" 
                                 style="padding-bottom: 50px">
                                
                                <div class="form-group" ng-if="model.notificationMessage === 'Other'">
                                    <label for="notifMessage">Nemlevering Says:</label>
                                    <textarea maxlength="160" rows="5" style="resize: none;" class="form-control" id="notifMessage" placeholder="Enter your own message" ng-model="model.nemleveringAddNote"></textarea>
                                </div>
                                <button data-dismiss="modal" ng-click="model.AddNote()" class="btn btn-success pull-right">Add Note</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- sendNotificationModal -->

                <!-- remove Assignment -->
                <div class="modal fade" id="removeAssignment" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <h3>Are you sure you want to remove assignments of selected deliveries?</h3>
                                <a data-dismiss="modal" class="btn btn-success" ng-click="model.deleteAssignment()">Confirm</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- deleteModal -->

            </div>
        </div>
    </div>
</div>