<div class="wrapper wrapper-content animated fadeInRight">
    <div ng-show="!assignDiv" class="">
        <div class="row mgb-20">
            <div class="col-sm-12"><h2 data-i18n="">Assign Drivers To Distribution Areas/Zones &nbsp;<strong
                    class="ng-binding">{{model.assignTo}}</strong></h2></div>
        </div>
        <div class="row"><!--.col-sm-3label Client Name-->
            <div class="col-sm-3"><label>Driver</label></div>
            <div class="col-sm-3"><label>Zone</label></div>
        </div>
        <div class="row mgb-20">
            <div class="col-sm-3">
                <ui-select ng-model="model.selectedDriver" theme="bootstrap" title="Choose a driver" append-to-body="true">
                    <ui-select-match>{{model.formatDriverLabel($select.selected)}}</ui-select-match>
                    <ui-select-choices repeat="option._id as option in model.carriers | filter: $select.search | limitTo: 50">
                        <div ng-bind-html="model.formatDriverLabel(option) | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="col-sm-3">
                <ui-select ng-model="model.selectedZone" theme="bootstrap" title="Choose a zone" append-to-body="true">
                    <ui-select-match>{{model.formatZoneLabel($select.selected)}}</ui-select-match>
                    <ui-select-choices repeat="option in model.zones | filter: $select.search | limitTo: 50">
                        <div ng-bind-html="model.formatZoneLabel(option) | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="col-sm-1">
                <button type="button" ng-click="model.assign()"
                        class="btn btn-info">Assign &nbsp;
                </button>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Zone</th>
                    <th>Driver</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="assigned in model.assignedDriversToZones">
                    <td ng-bind="model.formatZoneLabel(assigned.zone)"></td>
                    <td ng-bind="model.formatDriverLabel(assigned.driver)"></td>
                    <td><div class="btn-group"><a ng-click="model.unAssign(assigned)" style="margin-right:3px" class="btn btn-danger"><i class="fa fa-times"></i></a></div></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>