<div class="row wrapper wrapper-content">
    <div class="col-md-12 mgb-20">
        <h2>Route Planning</h2>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="date">Date</label>
            <input type="date" class="form-control" id="date" placeholder="Select date" ng-model="model.forDate">
        </div>
        <a href="javascript:void(0)" class="btn btn-primary" ng-hide="model.planningInProcess" ng-click="model.loadDeliveriesForDate()">Filter</a>
        <a href="javascript:void(0)" class="btn btn-primary" ng-click="model.startPlanning()" ng-hide="model.resultsList.length === 0 || model.planningInProcess || model.assigned">Do route planning!</a>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeIn" ng-if="model.resultsList.length !== 0 && !model.planned">
    <div class="row">
        <div class="col-md-12">
            <div ng-if="model.planningInProcess">
                <h1 class="text-center">
                    Planning in progress...
                </h1>
                <p class="text-center">
                    (This may take a while)
                </p>
            </div>

            <div class="table-responsive" ng-if="!model.planningInProcess">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Delivery Id</th>
                        <th>Delivery address</th>
                        <th>Zone</th>
                        <th>Zip code</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="delivery in model.resultsList">
                            <td ng-bind="delivery.delivery_id"></td>
                            <td ng-bind="delivery.address"></td>
                            <td ng-bind="delivery.zone"></td>
                            <td ng-bind="delivery.zip"></td>
                            <td ng-if="!delivery.haveDriver && model.assigned">Driver not assigned to zone {{delivery.zone}}, zip {{ delivery.zip }} or to the proper department.</td>
                            <td ng-if="delivery.apiLimit">Api limit for Graphhopper breached.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeIn" ng-if="model.resultsList.length !== 0 && model.planned">
    <div class="row">
        <div class="col-md-12">
            <div ng-if="model.planningInProcess">
                <h1 class="text-center">
                    Planning in progress...
                </h1>
                <p class="text-center">
                    (This may take a while)
                </p>
            </div>

            <div class="table-responsive" ng-if="!model.planningInProcess">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Delivery Id</th>
                        <th>Delivery address</th>
                        <th>Route #</th>
                        <th>Time</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="delivery in model.resultsList.notAssigned">
                        <td ng-bind="delivery.delivery_id"></td>
                        <td ng-bind="delivery.address"></td>
                        <td ng-if="!delivery.haveDriver && model.assigned">Driver not assigned to zone {{delivery.zone}}, zip {{ delivery.zip }} or to the proper department.</td>
                        <td ng-if="delivery.apiLimit">Api limit for Graphhopper breached.</td>
                        <td ng-if="delivery.timeWindow">Delivery cannot be delivered within the given time frame.</td>
                    </tr>

                    <tr ng-repeat="delivery in model.resultsList.assigned">
                        <td ng-bind="delivery.delivery_id"></td>
                        <td ng-bind="delivery.address"></td>
                        <td>Route number: #{{ ::delivery.routeIndex }}</td>
                        <td ng-bind="delivery.driverTime"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>