<!DOCTYPE html>
<html ng-app="dashboard">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Admin | Log-In</title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
        <link href="css/plugins/toastr/toastr.min.css" rel="stylesheet">
        <!-- Toastr style -->
        <link href="js/plugins/gritter/jquery.gritter.css" rel="stylesheet">
        <!-- Gritter -->
        <link href="css/animate.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <script src="https://cdn.auth0.com/js/lock/11.8.1/lock.min.js"></script>
        <script>
            console.log('{{env.AUTH0_CALLBACK_URL}}');
            var lock = new Auth0Lock('{{env.AUTH0_CLIENT_ID}}', '{{env.AUTH0_DOMAIN}}',
                    { allowSignUp: false,
                        theme: {
                            logo: "img/main_logo.png"
                        },
                        languageDictionary: {
                            title: "Log in"
                        },
                        auth: {
                            redirectUrl: '{{env.AUTH0_CALLBACK_URL}}' ,
                            responseType: 'code',
                            params: {
                                scope: 'openid name email picture'
                            }
                        }});
            lock.show();
        </script>
    </body>
</html>