<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin | Dashboard</title>
    <!--<base href="/">-->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <!-- Toastr style -->
    <link href="js/plugins/gritter/jquery.gritter.css" rel="stylesheet">
    <link href="css/plugins/clockpicker/clockpicker.css" rel="stylesheet">
    <link href="css/plugins/datapicker/datepicker3.css" rel="stylesheet">
    <link href="css/ng-tags-input.css" rel="stylesheet">

    <link href="js/angularModules/angular-datepicker/angular-datepicker.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/jquery.dataTables.css">
    <!-- Gritter -->
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/custom-css.css" rel="stylesheet">
    <link href="css/autocomplete.css" rel="stylesheet">
    <link href="css/chosen.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.20.0/select.min.css" rel="stylesheet" />

</head>
<body id="language" style="background-color:#28282e" class=" pace-done" ng-app="app">
<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <!--<li><img class="img-responsive fc-logo" src="img/logo-white text.PNG"></li>-->
                <li>
                    <a href="#"><span class="nav-label">Users</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse ">
                        <li class="active"><a ui-sref="organizations">Organizations</a></li>
                        <!--<li><a ui-sref="liveVehicles">Live Vehicles</a></li>-->
                    </ul>
                </li>
                <li>
                    <a href="#"><span class="nav-label">Clients</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse ">
                        <li class="active"><a ui-sref="clients">Manage</a></li>
                        <li class="active"><a ui-sref="scheduledClients">Scheduled Clients</a></li>
                    </ul>
                </li>
                <!--<li>-->
                    <!--<a href="#"><span class="nav-label">Fleet</span><span class="fa arrow"></span></a>-->
                    <!--<ul class="nav nav-second-level collapse ">-->
                        <!--<li class="active"><a>Manage</a></li>-->
                        <!--<li class="active"><a>Rankings</a></li>-->
                        <!--<li><a>Compliance</a></li>-->
                        <!--<li><a>Payments</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
                <li>
                    <a href="#"><span class="nav-label">Carriers</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse ">
                        <li class="active"><a ui-sref="carriers">Manage</a></li>
                        <li><a ui-sref="liveVehicles">Live Vehicles</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><span class="nav-label">Warehousing</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse ">
                        {{!-- <li class="active"><a ui-sref="warehouseOverview">Overall Routing</a></li> --}}
                        <li class="active"><a ui-sref="areaRouting">Area Routing</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><span class="nav-label">Settings</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse ">
                        <li class="active"><a ui-sref="assignDriverZone">Assign Driver to Area/Zone</a></li>
                        <li class="active"><a ui-sref="assignDriverDepartment">Assign Driver to Department</a></li>
                        <li class="active"><a ui-sref="assignDriverDelivery">Manage Deliveries</a></li>
                        <li class="active"><a ui-sref="routePlanning">Route Planning</a></li>
                        <li class="active"><a ui-sref="zones">Areas/Zones</a></li>
                        <li class="active"><a ui-sref="pickups">Pickups</a></li>
                        <li class="active"><a ui-sref="services">Services</a></li>
                        <li class="active"><a ui-sref="insurances">Insurances</a></li>
                        <li class="active"><a ui-sref="smsemail">SMS/Email</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><span class="nav-label">Reports</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse ">
                        <li class="active"><a ui-sref="adminActions">Admin actions</a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </nav>

    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                </div>
                <ul class="nav navbar-top-links navbar-right"><li><a href="/logout"><i class="fa fa-sign-out"></i> Log out</a></li><li><a href="/"><i class="fa fa-home"></i> Home</a></li></ul>

            </nav>
        </div>
        <div class="row  border-bottom white-bg dashboard-header">
            <div class="col-sm-12">
                <h2>Admin Dashboard</h2>
            </div>
        </div>
        <ui-view></ui-view>
    </div>
    <!-- Mainly scripts-->
    <!-- Mainly scripts-->
    <script src="js/jquery-2.1.1.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugins/colorpicker/bootstrap-colorpicker.min.js"></script>
    {{!-- <script src="js/plugins/datapicker/bootstrap-datepicker.js"></script> --}}
    <script src="js/plugins/clockpicker/clockpicker.js"></script>
    <script src="js/plugins/underscore/underscore-min.js"></script>
    <script src="js/plugins/async/async.min.js"></script>

    <script src="js/plugins/fullcalendar/moment.min.js"></script>
    <script src="js/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- iCheck-->
    <script src="js/plugins/iCheck/icheck.min.js"></script>
    <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <!-- Flot-->
    <script src="js/plugins/flot/jquery.flot.js"></script>
    <script src="js/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="js/plugins/flot/jquery.flot.spline.js"></script>
    <script src="js/plugins/flot/jquery.flot.resize.js"></script>
    <script src="js/plugins/flot/jquery.flot.pie.js"></script>
    <!-- Peity-->
    <script src="js/plugins/peity/jquery.peity.min.js"></script>
    <script src="js/demo/peity-demo.js"></script>
    <!-- Custom and plugin javascript-->
    <script src="js/inspinia.js"></script>
    <script src="js/plugins/pace/pace.min.js"></script>
    <!-- jQuery UI-->
    <script src="js/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- GITTER-->
    <script src="js/plugins/gritter/jquery.gritter.min.js"></script>
    <!-- Sparkline-->
    <script src="js/plugins/sparkline/jquery.sparkline.min.js"></script>
    <!-- Sparkline demo data-->
    <script src="js/demo/sparkline-demo.js"></script>
    <!-- ChartJS-->
    <script src="js/plugins/chartJs/Chart.min.js"></script>
    <!-- Toastr-->
    <script src="js/plugins/toastr/toastr.min.js"></script>
    <!-- FooTable-->
    <script src="js/plugins/footable/footable.all.min.js"></script>
    <!--i18Next-->
    <script src="js/plugins/i18next/i18next.min.js"></script>
    <script src="js/language.js"></script>

    <!-- Angular -->
    <script src="js/angular/angular.js"></script>
    <script src="js/angular/angular-route.js"></script>
    <script src="js/angular/angular-ui-router.js"></script>
    <script src="js/angular/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-sanitize.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.20.0/select.min.js"></script>

    <!-- Socket.io -->
    <script src="js/plugins/socket.io-client/socket.io.slim.js"></script>
    <script src="js/plugins/angular-socket-io/socket.min.js"></script>

    <!--<script src="https://cdn.auth0.com/js/auth0/8.7/auth0.min.js"></script>-->
    <script type="text/javascript" src="js/angular/auth0.js"></script>
    <script type="text/javascript" src="js/angular/angular-auth0.js"></script>

    <!-- Angular Datepicker -->
    <script src="js/angularModules/angular-datepicker/angular-datepicker.min.js"></script>

    <script src="config.js"></script>
    <script src="app.js"></script>
    <script src="app.run.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyADQx4-dsxmzj6jP1pH__Wb6xl9nYdO2Es"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-utils/0.1.1/angular-ui-utils.min.js"></script>
    <script type="text/javascript" src="js/jquery.dataTables.min.js"></script>
    
    <script src="services/url.service.js"></script>
    <script src="services/socket.service.js"></script>

    <script src="autocomplete.js"></script>
    <script src="js/ng-tags-input.js"></script>
    <script src="services/auth.service.js"></script>
    <script src="filters/startFrom.filter.js"></script>
    <script src="ccode.js"></script>
    <script src="components/general/showEntries.component.js"></script>

    <script src="components/dashboard/dashboard.component.js"></script>
    <script src="components/login/login.component.js"></script>
    <script src="components/callback/callback.component.js"></script>
    <script src="components/carriers/carriers.component.js"></script>
    <script src="components/carriers/carriers-edit.component.js"></script>
    <script src="components/carriers/carriers-create.component.js"></script>
    <script src="components/carriers/carriers-details.component.js"></script>
    <script src="components/carriers/live-vehicles.component.js"></script>
    <script src="components/clients/clients.component.js"></script>
    <script src="components/insurances/insurances.component.js"></script>
    <script src="components/smsemail/smsemail.component.js"></script>
    <script src="components/zones/zones.component.js"></script>
    <script src="components/zones/zones-create.component.js"></script>
    <script src="components/zones/zones-edit.component.js"></script>
    <script src="components/zones/post-codes.component.js"></script>
    <script src="components/zones/post-codes-create.component.js"></script>
    <script src="components/zones/post-codes-edit.component.js"></script>
    <script src="components/clients/scheduled-clients.component.js"></script>
    <script src="components/clients/scheduled-settings.component.js"></script>
    <script src="components/apikeys/api-keys.component.js"></script>
    <script src="components/accountStatement/accountStatement.component.js"></script>
    <script src="components/clients/assign-carrier-clients.component.js"></script>
    <script src="components/clients/clients-create.component.js"></script>
    <script src="components/clients/clients-edit.component.js"></script>
    <script src="components/clients/clients-change-password.component.js"></script>
    <script src="components/pickups/planned_pickups.component.js"></script>
    <script src="components/organizations/organizations.component.js"></script>
    <script src="components/organizations/organizations-details.component.js"></script>
    <script src="components/organizations/organization-edit.component.js"></script>
    <script src="components/organizations/coworker-edit.component.js"></script>
    <script src="components/assign/assign-driver-zone.component.js"></script>
    <script src="components/assign/assign-driver-delivery.component.js"></script>
    <script src="components/assign/assign-driver-edit-delivery.component.js"></script>
    <script src="components/assign/assign-driver-department.component.js"></script>
    <script src="components/assign/route-planning.component.js"></script>
    <script src="components/assign/warehouse-overview.component.js"></script>
    <script src="components/assign/area-routing.component.js"></script>
    <script src="components/adminActions/adminActions.component.js"></script>
    <script src="components/services/services.component.js"></script>
    <script src="components/services/service-create.component.js"></script>
    <script src="components/services/service-edit.component.js"></script>
    <script type="text/javascript">
        // Initialize client
//        var webAuth = new auth0.WebAuth({
//            domain:       'nemlevering.eu.auth0.com',
//            clientID:     'QWBR98rtFbLP8bFK1VvuF0QKqBK9t9Hm'
//        });
//
//        function logout() {
//            webAuth.logout({
//                returnTo: 'https://admin.nemlevering.dk/login',
//                client_id: 'QWBR98rtFbLP8bFK1VvuF0QKqBK9t9Hm'
//            });
//        }
    </script>
</body>
</html>