<div class="wrapper wrapper-content">
    <div class="ibox-content">
        <div class="table-responsive">
            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                <div class="action-buttons">
                    <a ui-sref="carriersCreate" class="btn btn-success">Add New Carrier</a>
                </div>
                <div class="html5buttons">
                    <!--<div class="dt-buttons btn-group"><a class="btn btn-default buttons-copy buttons-html5" tabindex="0"-->
                    <!--aria-controls="DataTables_Table_0"><span>Copy</span></a><a-->
                    <!--class="btn btn-default buttons-excel buttons-html5" tabindex="0"-->
                    <!--aria-controls="DataTables_Table_0"><span>Excel</span></a><a-->
                    <!--class="btn btn-default buttons-print" tabindex="0" aria-controls="DataTables_Table_0"><span>Print</span></a>-->
                    <!--</div>-->
                </div>
                <div class="dataTables_length" id="DataTables_Table_0_length"><label>Show
                    <show-entries limit-to="model.limit"></show-entries>
                    entries</label></div>
                <div id="DataTables_Table_0_filter" class="dataTables_filter pull-right"><label>Search:<input
                        type="search"
                        class="form-control input-sm"
                        ng-change="model.filterCarriers()"
                        ng-model="model.search"></label>
                </div>
                <!--<div class="dataTables_info col-lg-12 col-md-12" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing 1 to-->
                <!--1 of 1 entries-->
                <!--</div>-->
                <table class="table table-striped table-bordered table-hover dataTables-example dataTable no-footer"
                       id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info" role="grid">
                    <thead>
                    <tr role="row">
                        <th style="width: 199px;" class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0"
                            rowspan="1" colspan="1" aria-sort="ascending"
                            aria-label="Name: activate to sort column descending">Name
                        </th>
                        <th style="width: 199px;" class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                            rowspan="1" colspan="1" aria-label="Email: activate to sort column ascending">Email
                        </th>
                        <th style="width: 199px;" class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                            rowspan="1" colspan="1" aria-label="Phone: activate to sort column ascending">Phone
                        </th>
                        <th style="width: 119px;" class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                            rowspan="1" colspan="1" aria-label="Address: activate to sort column ascending">Address
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                            aria-label="Country: activate to sort column ascending" style="width: 268px;">Country
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                            aria-label="Active?: activate to sort column ascending" style="width: 53px;">Active?
                        </th>
                        <th style="width: 279px;" class="text-right sorting" tabindex="0"
                            aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                            aria-label="Action: activate to sort column ascending">Action
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr role="row" class="odd"
                        ng-repeat="carrier in model.filteredCarriers | startFrom:(model.currentPage-1)*model.limit | limitTo: model.limit">
                        <td style="width:15%;" class="sorting_1"><a ui-sref="carriersDetails({carriersId: carrier._id})" >{{carrier.name}}</a></td>
                        <td style="width:15%;">{{carrier.email}}</td>
                        <td style="width:15%;">{{carrier.phone}}</td><!--td(style='width:10%;')| -->
                        <td style="width:10%;"></td>
                        <td class="center">{{carrier.codeISO}}</td>
                        <td><input type="checkbox" ng-model="carrier.activeCarrier" ng-true-value="'1'" ng-false-value="'0'"
                                   ng-change="model.activateCarrier(carrier)"></td>
                        <td style="width:20%;" class="text-right">
                            <div class="btn-group"><a style="margin-right:3px"
                                                      ng-click="model.carrierEdit(carrier)"
                                                      class="btn btn-primary">Edit</a><a
                                    userid="5947c778740b59bc17e6b2e4" class="delete_carrier">
                                <button class="btn btn-danger" ng-click="model.deleteCarrier(carrier)"><i
                                        class="fa fa-times"></i></button>
                            </a></div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="text-center">
                    <ul uib-pagination
                        total-items="model.totalItems"
                        ng-model="model.currentPage"
                        max-size="5"
                        items-per-page="model.limit"
                        class="pagination-sm"
                        boundary-links="true"
                        num-pages="model.numPages"></ul>
                </div>
            </div>
        </div>
    </div>
</div>