<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <form>
                    <section class="panel-body">
                        <div class="row">
                            <div style="text-align:center" class="col-sm-5"><input style="display:none" name="photo"
                                                                                   type="file" id="upThis"></div>
                        </div>
                    </section>
                    <br>
                    <section class="panel-body">
                        <div class="form-group"><label data-i18n="name" class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10"><input type="hidden" name="userId"><input ng-model="model.carrier.name"
                                                                                                  type="text"
                                                                                                  name="name"
                                                                                                  required=""
                                                                                                  class="m-b form-control">
                            </div>
                        </div>
                        <div class="form-group"><label data-i18n="" class="col-sm-2 control-label">Short Name</label>
                            <div class="col-sm-10"><input type="text" name="shortName"
                                                          class="m-b form-control"></div>
                        </div>
                        <div class="form-group"><label data-i18n="email" class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-10"><input ng-model="model.carrier.email" type="email" name="email"
                                                          class="m-b form-control"></div>
                        </div>
                        <div class="form-group"><label data-i18n="" class="col-sm-2 control-label">CPR</label>
                            <div class="col-sm-10"><input ng-model="model.carrier.cpr" type="text" name="cpr" class="m-b form-control">
                            </div>
                        </div>
                        <div class="form-group"><label data-i18n="" class="col-sm-2 control-label">Company Name</label>
                            <div class="col-sm-10"><input ng-model="model.carrier.companyDetails.companyName" type="text" name="companyName"
                                                          class="m-b form-control"></div>
                        </div>
                        <div class="form-group"><label data-i18n="" class="col-sm-2 control-label">TaxId</label>
                            <div class="col-sm-10"><input ng-model="model.carrier.companyDetails.taxId" type="text" name="taxId" class="m-b form-control">
                            </div>
                        </div>
                        <div class="form-group"><label data-i18n="" class="col-sm-2 control-label">Company
                            Address</label>
                            <div class="col-sm-10"><input ng-model="model.carrier.companyDetails.companyAddress" type="text" name="companyAddress"
                                                          class="m-b form-control"></div>
                        </div>
                        <!-- <div class="form-group"><label data-i18n="body.country"
                                                       class="col-sm-2 control-label">Country</label>
                            <div class="col-sm-10">
                                <select ng-model="model.carrier.codeISO" ng-change="model.updateCCODE()" class="m-b form-control m-b">
                                    <option ng-repeat="(key, value) in model.ccodes" value="{{key}}" ng-model="model.carrier.ccode">{{key}}</option>
                                </select>
                            </div>
                        </div> -->
                        <div class="form-group"><label data-i18n="phone" class="col-sm-2 control-label">Phone</label>
                            <div class="col-md-2">
                                    <select class=" form-control" style="min-height: 30px;" ng-model="model.carrier.ccode"
                                    ng-options="obj.value as obj.name for obj in model.countryOptions"></select>
                            </div>
                            <div class="col-sm-8 phone-number"><input ng-model="model.carrier.phone" type="tel" name="mbl"
                                                                      onkeypress="return event.charCode >= 48 &amp;&amp; event.charCode <= 57"
                                                                      id="mobile" class="m-b form-control">
                                <div style="display:none;" id="loader" class="contact-loader"><img
                                        src="../../img/loading_small.gif" class="loader-image"><span>validating phone number</span>
                                </div>
                                <span style="display:none;color:red;" id="validation-error">Please enter valid phone number</span>
                            </div>
                        </div>
                        <div class="form-group"><label data-i18n="" class="col-sm-2 control-label">Signature?</label>
                            <div class="col-sm-10">
                                <input ng-model="model.zone.eveningDelivery" type="checkbox" name="eveningDelivery"
                                                          class="m-b">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button ng-click="model.edit()" type="submit" style="margin-left:5px" data-i18n="body.save"
                                        class="btn btn-primary">Save
                                </button>
                            </div>
                        </div>
                    </section>
                </form>
            </div>
        </div>
    </div>
</div>