<div class="wrapper wrapper-content">
    <div class="ibox-content">
        <div class="table-responsive">
            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">

                <div id="DataTables_Table_0_filter">
                
                    <label>Date: <input type="date" class="form-control" placeholder="Date" ng-model="model.date">
                    </label>
                    <a href="javascript:void(0)" class="btn btn-primary" ng-click="model.getTrackingDetails()">Filter</a>
                </div>
                <!---->
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr role="row">
                            <th width="30%">Carrier Name</th>
                            <th width="20%">Vehicle Type</th>
                            <th width="20%">Date</th>
                            <th width="30%">Location</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat-start="carrierDetail in model.carrierDetails">
                        <tr role="row" class="odd" ng-repeat="truckdata in carrierDetail.data | startFrom:(model.currentPage-1)*model.limit | limitTo: model.limit">
                            <td>{{carrierDetail.name}}</td>
                            <td>{{carrierDetail.vehicleType}}</td>
                            <td>{{truckdata.date}}</td>
                            <td>{{truckdata.lng}}, {{truckdata.lat}}</td>
                        </tr>
                        <tr ng-repeat-end class="divider"></tr>
                    </tbody>
                </table>
                <div class="text-center">
                    <ul uib-pagination total-items="model.totalItems" ng-model="model.currentPage" max-size="5"
                        items-per-page="model.limit" class="pagination-sm" boundary-links="true" num-pages="model.numPages"></ul>
                </div>
            </div>
        </div>
        <div id="routemap" style="height: 480px;"></div>
        <p id="map_error" class="red">{{mapError}}</p>
    </div>
</div>