<div class="wrapper wrapper-content">
    <div class="ibox-content">
        <div class="row m-b-sm m-t-sm"><label class="col-sm-4 control-label">Live Vehicles</label>
            <div class="col-sm-6" style="display:flex">
                <label style="padding-top:7px">Location: &nbsp;</label>
                <!--<input type="text" ng-model="locationFilter" class="ng-pristine ng-untouched ng-valid">-->
                <input placeholder="Location" required="" class="form-control ng-pristine ng-untouched ng-valid" style="width:500px" g-places-autocomplete ng-model="model.locationFilter" autocomplete="off"
                name="model.locationFilter" type="text" id="custom_pickup_location_address" />
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover dataTables-example">
                <thead>
                <tr>
                    <th style="width:5%;">Id</th>
                    <th style="width:10%;">Vehicle Type</th>
                    <th style="width:30%;">Location</th>
                    <th style="width:10%;">Email</th>
                    <th style="width:5%;">Name</th>
                    <th style="width:5%;">Phone</th>
                    <th style="width:25%;">Last Updated</th>
                    <!--<th style="width:10%;"></th>-->
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="liveVehicle in model.liveVehicles" class="ng-scope">
                    <td style="width:5%;" class="ng-binding">{{$index +1}}</td>
                    <td style="width:10%;" class="ng-binding">{{liveVehicle.vehicalType}}</td>
                    <td style="width:30%;" class="ng-binding">
                        {{liveVehicle.liveDelivery&&liveVehicle.liveDelivery.location&&liveVehicle.liveDelivery.location.coordinates[0]}}, 
                        {{liveVehicle.liveDelivery&&liveVehicle.liveDelivery.location&&liveVehicle.liveDelivery.location.coordinates[1]}}</td>
                    <td style="width:10%;" class="ng-binding">{{liveVehicle.user&&liveVehicle.user.email}}</td>
                    <td style="width:5%;" class="ng-binding">{{liveVehicle.user&&liveVehicle.user.name}}</td>
                    <td style="width:5%;" class="ng-binding">{{liveVehicle.user&&liveVehicle.user.phone}}</td>
                    <td style="width:25%;" class="ng-binding">0 minutes ago</td>
                    <!--<td style="width:10%;">
                        <button ng-click="viewVehicle(delivery)" class="btn btn-primary">View Details</button>
                    </td>-->
                </tr>
                </tbody>
            </table>
        </div>
        <div id="routemap" #routemap style="height:480px"></div>
        <p id="map_error" class="red">{{mapError}}</p>
    </div>
</div>