<div class="wrapper wrapper-content">
    <div class="ibox-content">
        <div class="table-responsive">
            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">

                <div id="DataTables_Table_0_filter" >
                    <label>Date From: <input type="date" class="form-control" placeholder="Date From"
                                             ng-model="model.dateFrom"> </label>
                    <label>Date To: <input type="date" class="form-control" placeholder="Date To"
                                           ng-model="model.dateTo"> </label>
                    <a href="javascript:void(0)" class="btn btn-primary" ng-click="model.getInsuranceDeliveries()">Filter</a>
                </div>
                <!---->
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr role="row">
                        <th>Client</th>
                        <th>Date</th>
                        <th>Delivery Id</th>
                        <th>Insurance Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr role="row" class="odd"
                        ng-repeat="delivery in model.deliveries | startFrom:(model.currentPage-1)*model.limit | limitTo: model.limit">
                        <td>{{delivery.client}}</td>
                        <td>{{delivery.date}}</td>
                        <td>{{delivery.id}}</td>
                        <td>{{delivery.value}}</td>
                    </tr>
                    </tbody>
                </table>
                <div class="text-center">
                    <ul uib-pagination
                        total-items="model.totalItems"
                        ng-model="model.currentPage"
                        max-size="5"
                        items-per-page="model.limit"
                        class="pagination-sm"
                        boundary-links="true"
                        num-pages="model.numPages"></ul>
                </div>
            </div>
        </div>
    </div>
</div>