<div class="wrapper wrapper-content animated fadeInRight">
    <div ng-show="!assignDiv" class="">
        <div class="row mgb-20">
            <div class="col-sm-12">
                <h2 data-i18n="">SMS/Email</h2>
            </div>
        </div>
        <div class="row">
            <!--.col-sm-3label Client Name-->
            <div class="col-sm-6"><label>SMS</label></div>
            <div class="col-sm-6"><label>Email</label></div>
        </div>
        <div class="row mgb-20">
            <div class="col-sm-6">
                <ui-select tagging ng-model="model.selectedSMS" theme="bootstrap" placeholder="Select here" on-select="model.getSMSContent()">
                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="item in model.Items">
                        <div ng-bind-html="item.name"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="col-sm-6">
                <ui-select tagging ng-model="model.selectedEmail" theme="bootstrap" placeholder="Select here" on-select="model.getEmailContent()">
                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="item in model.Items">
                        <div ng-bind-html="item.name"></div>
                    </ui-select-choices>
                </ui-select>
            </div>

        </div>
        <div class="row mgb-20">
            <div class="col-sm-6">
                <textarea rows="10" style="resize: none;" class="form-control" id="sms" placeholder="Enter your own SMS message"
                    ng-model="model.SMSContent"></textarea>
            </div>
            <div class="col-sm-6">
                <textarea rows="10" style="resize: none;" class="form-control" id="email" placeholder="Enter your own Email message"
                    ng-model="model.EmailContent"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="javascript:void(0)" class="btn btn-primary" ng-click="model.SaveContent()">Save</a>
            </div>
        </div>
    </div>
</div>