<!--{{vm.auth.isAuthenticated()}}-->
<!--<h4 ng-if="vm.auth.isAuthenticated()">-->
    <!--You are logged in!-->
<!--</h4>-->
<!--<h4 ng-if="!vm.auth.isAuthenticated()">-->
    <!--You are not logged in! Please <a ng-click="vm.auth.login()">Log In</a> to continue.-->
<!--</h4>-->