<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-md-12 mgb-20">
            <h2>Admin actions</h2>
        </div>
        <div class="form-group">
            <div class="row mgl-0">
                <div class="col-md-2 mgb-20">
                    <label for="date">Date</label>
                    <input type="date" class="form-control" id="date" placeholder="Select date" ng-model="model.date">
                </div>
            </div>
            <div class="row mgl-15">
                <a href="javascript:void(0)" class="btn btn-primary" ng-click="model.loadLogs()">Filter</a>
            </div>
        </div>
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Method</th>
                            <th>URL</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in model.logs">
                            <td>{{item.date | date:'HH:mm:ss'}}</td>
                            <td ng-bind="item.method"></td>
                            <td ng-bind="item.url"></td>
                            <td ng-bind="item.description">Description</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>