<div class="wrapper wrapper-content">
    <div class="ibox-content">
        <div class="table-responsive">
            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                <div class="html5buttons">
                </div>
                <!--<div class="dataTables_length" id="DataTables_Table_0_length"><label>Show-->
                    <!--<show-entries limit-to="model.limit"></show-entries>-->
                    <!--entries</label></div>-->

                <!--<div id="DataTables_Table_0_filter" class="dataTables_filter pull-right"><label>Search:<input type="search"-->
                                                                                                   <!--class="form-control input-sm"-->
                                                                                                   <!--placeholder=""-->
                                                                                                   <!--ng-model="model.search"></label>-->
                <!--</div>-->
                <!--<div class="dataTables_info col-lg-12 col-md-12" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing 1 to-->
                    <!--1 of 1 entries-->
                <!--</div>-->
                <div class="col-lg-8 col-md-8">
                <table class="table table-striped table-bordered table-hover no-footer">
                    <thead>
                    <tr role="row">
                        <th>Name</th>
                        <th>API KEY</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="width:15%;" class="sorting_1">{{model.client.name}}</td>
                        <td style="width:15%;"><code>{{model.client.apikey}}</code>
                            <button ng-click="model.regenerate()" class="btn btn-info glyphicon glyphicon-refresh pull-right"></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                    <div>
                    <input type="checkbox" name="insurance" ng-model="model.client.insurance" ng-change="model.setInsurance(model.client)" id="enableInsurance">
                        <label for="enableInsurance">Enable insurance</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>