<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <h1>{{model.postCode.AREA + model.postCode.ZONE}}: Edit the post code</h1>
            <div class="panel">
                <form  novalidate class="simple-form" name="editPostCodeForm">
                    <div class="alert alert-danger" ng-if="model.error" role="alert">{{model.error}}</div>
                    <section class="panel-body">
                        <div class="form-group"><label data-i18n="" class="col-sm-2 control-label">Country Code</label>
                            <div class="col-sm-10"><input ng-model="model.postCode['COUNTRY CODE']" type="text" name="countryCode"
                                                          class="m-b form-control"></div>
                        </div>
                        <div class="form-group"><label data-i18n="email" class="col-sm-2 control-label">Zip*</label>
                            <div class="col-sm-10"><input ng-model="model.postCode.ZIP" type="text" name="zip" required
                                                          class="m-b form-control"></div>
                        </div>
                        <div class="form-group"><label data-i18n="email" class="col-sm-2 control-label">City</label>
                            <div class="col-sm-10"><input ng-model="model.postCode.CITY" type="text" name="city"
                                                          class="m-b form-control"></div>
                        </div>
                        <div class="form-group"><label data-i18n="email" class="col-sm-2 control-label">Street</label>
                            <div class="col-sm-10"><input ng-model="model.postCode.STREET" type="text" name="street"
                                                          class="m-b form-control"></div>
                        </div>
                        <div class="form-group"><label data-i18n="email" class="col-sm-2 control-label">Land</label>
                            <div class="col-sm-10"><input ng-model="model.postCode.Land" type="text" name="land"
                                                          class="m-b form-control"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button ng-click="model.edit()" type="submit" style="margin-left:5px" ng-disabled="editPostCodeForm.$invalid"
                                        class="btn btn-primary">Save
                                </button>
                            </div>
                        </div>
                    </section>
                </form>
            </div>
        </div>
    </div>
</div>
