<div class="wrapper wrapper-content">
    <div class="ibox-content">
        <h1>{{model.zone.area + model.zone.zone}} post codes</h1>
        <div class="table-responsive">
            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">

                <div class="action-buttons">
                    <a ng-click="model.create()" class="btn btn-success">Add New Post Code to {{model.zone.area +
                        model.zone.zone}}</a>
                </div>

                <h2 ng-if="model.isNew">*New zone {{model.zone.area + model.zone.zone}} will be saved after adding a new
                    post code to it</h2>
                <br>
                <div class="dataTables_length" id="DataTables_Table_0_length"><label>Show
                    <show-entries limit-to="model.limit"></show-entries>
                    entries</label></div>

                <div class="dataTables_filter pull-right"><label>Search:
                    <input type="search" ng-model="model.search" ng-change="model.filterPostCodes()"></label>
                </div>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr role="row">
                        <th>
                            Country Code
                        </th>
                        <th>
                            ZIP
                        </th>
                        <th>
                            City
                        </th>
                        <th>
                            Street
                        </th>
                        <th>
                            Land
                        </th>
                        <th style="width: 279px;" class="text-right sorting" tabindex="0"
                            aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                            aria-label="Action: activate to sort column ascending">Action
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr role="row" class="odd"
                        ng-repeat="postCode in model.filteredPostCodes | startFrom:(model.currentPage-1)*model.limit | limitTo: model.limit">
                        <td style="" class="">{{postCode["COUNTRY CODE"]}}</td>
                        <td style="" class="">{{postCode["ZIP"]}}</td>
                        <td style="" class="">{{postCode["CITY"]}}</td>
                        <td style="" class="">{{postCode["STREET"]}}</td>
                        <td style="" class="">{{postCode["Land"]}}</td>
                        <td style="width:20%;" class="text-right">
                            <div class="btn-group">
                                <a style="margin-right:3px"
                                   ng-click="model.editPostCode(postCode)"
                                   class="btn btn-primary">Edit</a>
                                <a class="delete_carrier">
                                    <button class="btn btn-danger" ng-click="model.delete(postCode)"><i
                                            class="fa fa-times"></i></button>
                                </a></div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="text-center">
                    <ul uib-pagination
                        total-items="model.totalItems"
                        ng-model="model.currentPage"
                        max-size="5"
                        items-per-page="model.limit"
                        class="pagination-sm"
                        boundary-links="true"
                        num-pages="model.numPages"></ul>
                </div>
            </div>
        </div>
    </div>
</div>