<div class="wrapper wrapper-content">
    <div class="ibox-content">
        <div class="table-responsive">
            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                <div class="action-buttons">
                    <a ui-sref="zonesCreate" class="btn btn-success">Add New Zone</a>
                </div>
                <div class="col-sm-12" style="padding-bottom:20px">
                    <h2 data-i18n="">Same Day</h2>
                </div>
                <div class="dataTables_length" id="DataTables_Table_0_length"><label>Show
                        <show-entries limit-to="model.limit"></show-entries>
                        entries</label></div>
                <div class="dataTables_filter pull-right"><label>Search:
                        <input type="search" ng-model="model.search" ng-change="model.filterSameZones()"></label>
                </div>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr role="row">
                            <th>
                                Country Code
                            </th>
                            <th>
                                Zone and Area
                            </th>
                            <th>
                                Post Codes
                            </th>
                            <th style="width: 53px;">Evening Delivery?</th>
                            <th style="width: 279px;" class="text-right sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending">Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr role="row" class="odd" ng-repeat="zone in model.filteredSameZones | startFrom:(model.currentSamePage-1)*model.limit | limitTo: model.limit">
                            <td style="" class="">{{zone.countryCode}}</td>
                            <td style="" class="">{{zone.area + zone.zone}}</td>
                            <td style="" class="">
                                <div></div>
                                <div uib-popover="{{zone.postCodes}}" popover-placement="bottom" popover-append-to-body="true"
                                    popover-trigger="'mouseenter'">
                                    {{(zone.postCodes.length > 100 ? zone.postCodes.slice(0,100) + "..." :
                                    zone.postCodes)}}
                                </div>
                            </td>
                            <td class="text-center"><input type="checkbox" ng-model="zone.eveningDelivery" disabled="disabled"></td>
                            <td style="width:30%;" class="text-right">
                                <div class="btn-group">
                                    <a style="margin-right:3px" ng-click="model.viewPostCodes(zone)" class="btn btn-info">View
                                        Post Codes</a>
                                    <a style="margin-right:3px" ng-click="model.editView(zone)" class="btn btn-primary">Edit</a>
                                    <a class="delete_carrier">
                                        <button class="btn btn-danger" ng-click="model.delete(zone)"><i class="fa fa-times"></i></button>
                                    </a></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-center">
                    <ul uib-pagination total-items="model.totalSameItems" ng-model="model.currentSamePage" max-size="5"
                        items-per-page="model.limit" class="pagination-sm" boundary-links="true" num-pages="model.numPages"></ul>
                </div>

                <div class="col-sm-12" style="padding-bottom:20px">
                    <h2 data-i18n="">Next Day</h2>
                </div>
                <div class="dataTables_length" id="DataTables_Table_0_length"><label>Show
                        <show-entries limit-to="model.limit"></show-entries>
                        entries</label></div>
                <div class="dataTables_filter pull-right"><label>Search:
                        <input type="search" ng-model="model.search" ng-change="model.filterNextZones()"></label>
                </div>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr role="row">
                            <th>
                                Country Code
                            </th>
                            <th>
                                Zone and Area
                            </th>
                            <th>
                                Post Codes
                            </th>
                            <th style="width: 53px;">Evening Delivery?</th>
                            <th style="width: 279px;" class="text-right sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending">Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr role="row" class="odd" ng-repeat="zone in model.filteredNextZones | startFrom:(model.currentNextPage-1)*model.limit | limitTo: model.limit">
                            <td style="" class="">{{zone.countryCode}}</td>
                            <td style="" class="">{{zone.area + zone.zone}}</td>
                            <td style="" class="">
                                <div></div>
                                <div uib-popover="{{zone.postCodes}}" popover-placement="bottom" popover-append-to-body="true"
                                    popover-trigger="'mouseenter'">
                                    {{(zone.postCodes.length > 100 ? zone.postCodes.slice(0,100) + "..." :
                                    zone.postCodes)}}
                                </div>
                            </td>
                            <td class="text-center"><input type="checkbox" ng-model="zone.eveningDelivery" disabled="disabled"></td>
                            <td style="width:30%;" class="text-right">
                                <div class="btn-group">
                                    <a style="margin-right:3px" ng-click="model.viewPostCodes(zone)" class="btn btn-info">View
                                        Post Codes</a>
                                    <a style="margin-right:3px" ng-click="model.editView(zone)" class="btn btn-primary">Edit</a>
                                    <a class="delete_carrier">
                                        <button class="btn btn-danger" ng-click="model.delete(zone)"><i class="fa fa-times"></i></button>
                                    </a></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-center">
                    <ul uib-pagination total-items="model.totalNextItems" ng-model="model.currentNextPage" max-size="5"
                        items-per-page="model.limit" class="pagination-sm" boundary-links="true" num-pages="model.numPages"></ul>
                </div>
            </div>
        </div>
    </div>
</div>