<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <form>
                    <section class="panel-body">
                        <div class="row form-group"><label data-i18n="" class="col-sm-2 control-label">Country Code</label>
                            <div class="col-sm-10"><input ng-model="model.zone.countryCode" type="text" name="countryCode"
                                    class="m-b form-control"></div>
                        </div>
                        <div class="row form-group"><label data-i18n="" class="col-sm-2 control-label">Area</label>
                            <div class="col-sm-10"><input ng-model="model.zone.area" type="text" name="area" class="m-b form-control"></div>
                        </div>
                        <div class="row form-group"><label data-i18n="email" class="col-sm-2 control-label">Zone</label>
                            <div class="col-sm-10"><input ng-model="model.zone.zone" type="text" name="zone" class="m-b form-control"></div>
                        </div>
                        <div class="row form-group"><label data-i18n="" class="col-sm-2 control-label">Evening Delivery?</label>
                            <div class="col-sm-10">
                                <input ng-model="model.zone.eveningDelivery" type="checkbox" name="eveningDelivery"
                                    class="m-b">
                            </div>
                        </div>
                        <div class="row form-group"><label data-i18n="" class="col-sm-2 control-label">Same Day?</label>
                            <div class="col-sm-10">
                                <input ng-model="model.zone.sameDay" type="checkbox" name="sameDay"
                                    class="m-b">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button ng-click="model.save()" type="submit" style="margin-left:5px" class="btn btn-primary">Save
                                </button>
                            </div>
                        </div>
                    </section>
                </form>
            </div>
        </div>
    </div>
</div>