<div class="wrapper wrapper-content animated fadeInRight">
    <div ng-show="assignDiv" class="row ng-hide">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="col-lg-4"><h5>Total = 4</h5></div>
                    <div style="text-align:right;" class="col-lg-8 m-t-n-sm"><a href="/clientroutedownload"
                                                                                class="btn btn-primary">Download
                        Routes</a><a style="margin-left:3px;" href="/assignroutesmanually" class="btn btn-primary">Assign
                        Routes Manually</a></div>
                    <div class="ibox-tools"></div>
                </div>
                <div class="ibox-content"><!--.row.col-lg-2
    label Filters
.col-lg-6
    input#filter.form-control.input-sm.m-b-xs(type='text', placeholder='Search in table')
.col-lg-4
    select.form-control#payment_filters
        option(value='all') -- All --
        option(value='1') Monthly invoice
        option(value='0') Credit Card-->
                    <table class="table table-stripped">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Contact No.</th><!--th(style='width:30%;') Assign Carrier-->
                            <th>Assigned Driver</th>
                            <th>Routes</th>
                            <th>Assign Route To Carrier</th>
                            <th>Assign Carrier to Client</th>
                            <th>Upload Routes</th>
                            <th>Scheduled Settings</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody><!-- ngRepeat: item in clientsLists -->
                        <tr ng-repeat="item in clientsLists" class="ng-scope">
                            <td class="col-md-1 ng-binding">Anibalb</td>
                            <td class="col-md-2 ng-binding">anibal+buyer@findacargo.com</td>
                            <td class="col-md-1 ng-binding">30143748</td>
                            <!--td(style='width:30%;')select(name='carrier',ng-model='carriers', ng-options="carrier as carrier.name for carrier in allCarriers track by carrier._id",chosen,multiple,placeholder-text-multiple='select carrier')-->
                            <td class="col-md-1 ng-binding">0</td>
                            <td class="col-md-1"><a ng-click="viewClientsRoute(item);"
                                                    class="btn-btn-info ng-binding">0</a></td>
                            <td class="col-md-2">
                                <div class="btn-group"><a ng-click="assignRoute(item);" style="margin-right:3px"
                                                          class="btn btn-info">Assign Route</a></div>
                            </td>
                            <td class="col-md-1">
                                <div class="btn-group"><a ng-click="assignCarrierToClient(item);"
                                                          style="margin-right:3px" class="btn btn-info">Assign</a></div>
                            </td>
                            <td class="col-md-1">
                                <div class="btn-group"><a ng-click="uploadRoutes(item);" style="margin-right:3px"
                                                          class="btn btn-info">Upload</a></div>
                            </td>
                            <td class="col-md-1">
                                <div class="btn-group"><a ng-click="scheduledSetting(item);" style="margin-right:3px"
                                                          class="btn btn-info">Settings</a></div>
                            </td>
                            <td class="col-md-1">
                                <div class="btn-group"><a ng-click="removeClient(item);" style="margin-right:3px"
                                                          class="btn btn-danger"><i class="fa fa-times"></i></a></div>
                            </td>
                        </tr><!-- end ngRepeat: item in clientsLists -->
                        <tr ng-repeat="item in clientsLists" class="ng-scope">
                            <td class="col-md-1 ng-binding">Anibal Kringle</td>
                            <td class="col-md-2 ng-binding">anibal+k@nemlevering.dk</td>
                            <td class="col-md-1 ng-binding">30143748</td>
                            <!--td(style='width:30%;')select(name='carrier',ng-model='carriers', ng-options="carrier as carrier.name for carrier in allCarriers track by carrier._id",chosen,multiple,placeholder-text-multiple='select carrier')-->
                            <td class="col-md-1 ng-binding">0</td>
                            <td class="col-md-1"><a ng-click="viewClientsRoute(item);"
                                                    class="btn-btn-info ng-binding">0</a></td>
                            <td class="col-md-2">
                                <div class="btn-group"><a ng-click="assignRoute(item);" style="margin-right:3px"
                                                          class="btn btn-info">Assign Route</a></div>
                            </td>
                            <td class="col-md-1">
                                <div class="btn-group"><a ng-click="assignCarrierToClient(item);"
                                                          style="margin-right:3px" class="btn btn-info">Assign</a></div>
                            </td>
                            <td class="col-md-1">
                                <div class="btn-group"><a ng-click="uploadRoutes(item);" style="margin-right:3px"
                                                          class="btn btn-info">Upload</a></div>
                            </td>
                            <td class="col-md-1">
                                <div class="btn-group"><a ng-click="scheduledSetting(item);" style="margin-right:3px"
                                                          class="btn btn-info">Settings</a></div>
                            </td>
                            <td class="col-md-1">
                                <div class="btn-group"><a ng-click="removeClient(item);" style="margin-right:3px"
                                                          class="btn btn-danger"><i class="fa fa-times"></i></a></div>
                            </td>
                        </tr><!-- end ngRepeat: item in clientsLists -->
                        <tr ng-repeat="item in clientsLists" class="ng-scope">
                            <td class="col-md-1 ng-binding">Nicklas</td>
                            <td class="col-md-2 ng-binding">nicklas@rumph.dk</td>
                            <td class="col-md-1 ng-binding">42501047</td>
                            <!--td(style='width:30%;')select(name='carrier',ng-model='carriers', ng-options="carrier as carrier.name for carrier in allCarriers track by carrier._id",chosen,multiple,placeholder-text-multiple='select carrier')-->
                            <td class="col-md-1 ng-binding">0</td>
                            <td class="col-md-1"><a ng-click="viewClientsRoute(item);"
                                                    class="btn-btn-info ng-binding">0</a></td>
                            <td class="col-md-2">
                                <div class="btn-group"><a ng-click="assignRoute(item);" style="margin-right:3px"
                                                          class="btn btn-info">Assign Route</a></div>
                            </td>
                            <td class="col-md-1">
                                <div class="btn-group"><a ng-click="assignCarrierToClient(item);"
                                                          style="margin-right:3px" class="btn btn-info">Assign</a></div>
                            </td>
                            <td class="col-md-1">
                                <div class="btn-group"><a ng-click="uploadRoutes(item);" style="margin-right:3px"
                                                          class="btn btn-info">Upload</a></div>
                            </td>
                            <td class="col-md-1">
                                <div class="btn-group"><a ng-click="scheduledSetting(item);" style="margin-right:3px"
                                                          class="btn btn-info">Settings</a></div>
                            </td>
                            <td class="col-md-1">
                                <div class="btn-group"><a ng-click="removeClient(item);" style="margin-right:3px"
                                                          class="btn btn-danger"><i class="fa fa-times"></i></a></div>
                            </td>
                        </tr><!-- end ngRepeat: item in clientsLists -->
                        <tr ng-repeat="item in clientsLists" class="ng-scope">
                            <td class="col-md-1 ng-binding">Thorsten Bek</td>
                            <td class="col-md-2 ng-binding">thorsten.bek@gmail.com</td>
                            <td class="col-md-1 ng-binding">60241054</td>
                            <!--td(style='width:30%;')select(name='carrier',ng-model='carriers', ng-options="carrier as carrier.name for carrier in allCarriers track by carrier._id",chosen,multiple,placeholder-text-multiple='select carrier')-->
                            <td class="col-md-1 ng-binding">0</td>
                            <td class="col-md-1"><a ng-click="viewClientsRoute(item);"
                                                    class="btn-btn-info ng-binding">0</a></td>
                            <td class="col-md-2">
                                <div class="btn-group"><a ng-click="assignRoute(item);" style="margin-right:3px"
                                                          class="btn btn-info">Assign Route</a></div>
                            </td>
                            <td class="col-md-1">
                                <div class="btn-group"><a ng-click="assignCarrierToClient(item);"
                                                          style="margin-right:3px" class="btn btn-info">Assign</a></div>
                            </td>
                            <td class="col-md-1">
                                <div class="btn-group"><a ng-click="uploadRoutes(item);" style="margin-right:3px"
                                                          class="btn btn-info">Upload</a></div>
                            </td>
                            <td class="col-md-1">
                                <div class="btn-group"><a ng-click="scheduledSetting(item);" style="margin-right:3px"
                                                          class="btn btn-info">Settings</a></div>
                            </td>
                            <td class="col-md-1">
                                <div class="btn-group"><a ng-click="removeClient(item);" style="margin-right:3px"
                                                          class="btn btn-danger"><i class="fa fa-times"></i></a></div>
                            </td>
                        </tr><!-- end ngRepeat: item in clientsLists --></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="!assignDiv" class="">
        <div class="row mgb-20">
            <div class="col-sm-12"><h2 data-i18n="">Assign Drivers To client : &nbsp;<strong
                    class="ng-binding">{{model.assignTo}}</strong></h2></div>
        </div>
        <div class="row"><!--.col-sm-3label Client Name-->
            <div class="col-sm-3"><label>Select Carriers</label></div>
            <div class="col-sm-3"><label>Select Drivers</label></div>
        </div>
        <div class="row mgb-20">
            <div class="col-sm-3">
                <select ng-options="carrier as carrier.name for carrier in model.carriers"
                        ng-model="model.selectedCarrier" ng-change="model.selectCarrier()" class="form-control"></select>
            </div>
            <div class="col-sm-3">
                <!--<select ng-model="drivers"-->
                                          <!--ng-options="driver as driver.name for driver in carrierDrivers track by driver._id"-->
                                          <!--chosen="" multiple="" placeholder-text-multiple="select driver"-->
                                          <!--id="driver_list"-->
                                          <!--class="form-control m-b ng-pristine ng-untouched ng-valid ng-isolate-scope"-->
                                          <!--style="display: none;"></select>-->
                <select ng-options="driver as driver.name for driver in model.drivers"
                        ng-model="model.selectedDriver" ng-change="model.selectDriver()" class="form-control"></select>
            </div>
                <!--<div class="chosen-container chosen-container-multi chosen-with-drop chosen-container-active"-->
                     <!--style="width:100%;" title="" id="driver_list_chosen">-->
                    <!--<ul class="chosen-choices">-->
                        <!--<li class="search-field"><input type="text" value="select driver" class="default"-->
                                                        <!--autocomplete="off" style="width: 95px;"></li>-->
                    <!--</ul>-->
                    <!--<div class="chosen-drop">-->
                        <!--<ul class="chosen-results"></ul>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <div class="col-sm-1">
                <button type="button" ng-click="model.assign()"
                        class="btn btn-info">Assign &nbsp;
                </button>
            </div>
        </div>
        <div class="row white-bg dashboard-header">
            <div class="col-sm-12"><h2 data-i18n="">Assigned Drivers</h2></div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Assigned zip</th>
                    <th>Zip Codes</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="assignedDriver in model.assignedDrivers " class="ng-scope">
                        <td>{{assignedDriver.name}}</td>
                        <td>{{assignedDriver.email}}</td>
                        <td>{{assignedDriver.phone}}</td>
                        <td></td>
                        <td></td>
                        <td><div class="btn-group"><a ng-click="model.unAssignDriver(assignedDriver)" style="margin-right:3px" class="btn btn-danger"><i class="fa fa-times"></i></a></div></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>