<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <form>
                    <div class="alert alert-danger" ng-if="model.error" role="alert">{{model.error}}</div>
                    <section class="panel-body">
                        <div class="row">
                            <div style="text-align:center" class="col-sm-5"><input style="display:none" name="photo"
                                                                                   type="file" id="upThis"></div>
                        </div>
                    </section>
                    <br>
                    <section class="panel-body">
                        <div class="form-group"><label data-i18n="name" class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10"><input type="hidden" name="userId"><input
                                    ng-model="model.client.name"
                                    type="text"
                                    name="name"
                                    required=""
                                    class="m-b form-control">
                            </div>
                        </div>
                        <div class="form-group"><label data-i18n="email" class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-10"><input ng-model="model.client.email" type="email" name="email"
                                                          class="m-b form-control"></div>
                        </div>
                        <div class="form-group"><label data-i18n="" class="col-sm-2 control-label">CPR</label>
                            <div class="col-sm-10"><input ng-model="model.client.cpr" type="text" name="cpr"
                                                          class="m-b form-control">
                            </div>
                        </div>
                        <div class="form-group"><label data-i18n="" class="col-sm-2 control-label">Company Name</label>
                            <div class="col-sm-10"><input ng-model="model.client.companyDetails.companyName" type="text"
                                                          name="companyName"
                                                          class="m-b form-control"></div>
                        </div>
                        <div class="form-group"><label data-i18n="" class="col-sm-2 control-label">TaxId</label>
                            <div class="col-sm-10"><input ng-model="model.client.companyDetails.taxId" type="text"
                                                          name="taxId" class="m-b form-control">
                            </div>
                        </div>
                        <div class="form-group"><label data-i18n="" class="col-sm-2 control-label">Company
                            Address</label>
                            <div class="col-sm-10">
                                <input id="client_address" ng-model="model.client_address" g-places-autocomplete name="client_address" type="text" placeholder=""
                                    class="m-b form-control"></div>
                        </div>
                        <!-- <div class="form-group"><label data-i18n="body.country"
                                                       class="col-sm-2 control-label">Country</label>
                            <div class="col-sm-10">
                                <select ng-model="model.client.ccode" class="m-b form-control m-b">
                                    <option ng-repeat="(key, value) in model.ccodes" value="{{value}}">{{key}}</option>
                                </select>
                            </div>
                        </div> -->
                        <div class="form-group">
                            <label data-i18n="phone" class="col-sm-2 control-label">Phone</label>
                            <div class="col-sm-10 contact-country-code">
                                <div class="row">
                                    <div class="col-md-2">
                                            <select class=" form-control" style="min-height: 30px;" ng-model="model.client.ccode"
                                            ng-options="obj.value as obj.name for obj in model.countryOptions"></select>
                                    </div>
                                    <div class="col-md-10">
                                            <input ng-model="model.client.phone" type="tel"
                                            name="phone"
                                            class="m-b form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label data-i18n="supportEmail" class="col-sm-2 control-label">Support
                                Email</label>
                            <div class="col-sm-10"><input ng-model="model.client.supportEmail" type="email" name="email"
                                                          class="m-b form-control"></div>
                        </div>
                        <div class="form-group">
                            <label data-i18n="supportPhone" class="col-sm-2 control-label">Support
                                Phone</label>
                            <div class="col-sm-10 contact-country-code">
                                <div class="row">
                                        <div class="col-md-2">
                                                <select class=" form-control" style="min-height: 30px;" ng-model="model.client.ccode"
                                                ng-options="obj.value as obj.name for obj in model.countryOptions"></select>
                                        </div>
                                        <div class="col-md-10">
                                                <input ng-model="model.client.supportPhone" type="tel"
                                                name="supportPhone"
                                                class="m-b form-control">
                                        </div>
                                    </div>
                                </div>    
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button ng-click="model.edit()" type="submit" style="margin-left:5px"
                                        data-i18n="body.save"
                                        class="btn btn-primary">Save
                                </button>
                            </div>
                        </div>
                    </section>
                </form>
            </div>
        </div>
    </div>
</div>
