<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <form>
                    <div class="alert alert-danger" ng-if="model.error" role="alert">{{model.error}}</div>
                    <section class="panel-body">
                        <div class="row">
                            <div style="text-align:center" class="col-sm-5"><input style="display:none" name="photo"
                                                                                   type="file" id="upThis"></div>
                        </div>
                    </section>
                    <br>
                    <section class="panel-body">
                        <div class="form-group"><label data-i18n="name" class="col-sm-2 control-label">Password</label>
                            <div class="col-sm-10"><input type="hidden" name="userId"><input
                                    ng-model="model.client.password"
                                    type="password"
                                    name="password"
                                    required=""
                                    class="m-b form-control">
                            </div>
                        </div>
                        <div class="form-group"><label data-i18n="email" class="col-sm-2 control-label">Password Confirm</label>
                            <div class="col-sm-10"><input ng-model="model.client.confirmPassword" type="password" name="confirm-password"
                                                          class="m-b form-control"></div>
                        </div>
                    
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button ng-click="model.edit()" type="submit" style="margin-left:5px"
                                        data-i18n="body.save"
                                        class="btn btn-primary" ng-disabled="model.client.confirmPassword != model.client.password">Save
                                </button>
                                <button ng-click="model.cancel()" type="submit" style="margin-left:5px"
                                            data-i18n="body.save"
                                            class="btn btn-primary">Cancel
                                    </button>
                            </div>
                        </div>
                    </section>
                </form>
            </div>
        </div>
    </div>
</div>
