<div class="wrapper wrapper-content">
    <div class="ibox-content">
        <div class="table-responsive">
            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                <div class="action-buttons">
                    <a ui-sref="clientsCreate" class="btn btn-success">Add New Client</a>
                </div>
                <div class="html5buttons">
                    <!--<div class="dt-buttons btn-group"><a class="btn btn-default buttons-copy buttons-html5" tabindex="0"-->
                    <!--aria-controls="DataTables_Table_0"><span>Copy</span></a><a-->
                    <!--class="btn btn-default buttons-excel buttons-html5" tabindex="0"-->
                    <!--aria-controls="DataTables_Table_0"><span>Excel</span></a><a-->
                    <!--class="btn btn-default buttons-print" tabindex="0" aria-controls="DataTables_Table_0"><span>Print</span></a>-->
                    <!--</div>-->
                </div>
                <div class="dataTables_length" id="DataTables_Table_0_length"><label>Show
                    <show-entries limit-to="model.limit"></show-entries>
                    entries</label></div>

                <div id="DataTables_Table_0_filter" class="dataTables_filter pull-right"><label>Search:
                    <input type="search" ng-model="model.search" ng-change="model.filterClients()"></label>
                </div>
                <!--<div class="dataTables_info col-lg-12 col-md-12" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing 1 to-->
                <!--1 of 1 entries-->
                <!--</div>-->
                <table style="word-break: break-all" class="table table-striped table-hover">
                    <thead>
                        <tr role="row">
                            <th style="max-width:150px;" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Name
                            </th>
                            <th style="max-width:150px;" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Email: activate to sort column ascending">Email
                            </th>
                            <th style="max-width:150px;" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Phone: activate to sort column ascending">Phone
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Country: activate to sort column ascending"
                                style="max-width:150px;">Country
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Active?: activate to sort column ascending"
                                style="max-width:70px;">Schedule Client
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Active?: activate to sort column ascending"
                                style="max-width:70px;">Approve User
                            </th>
                            <th class="text-right sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                aria-label="Action: activate to sort column ascending">Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr role="row" class="odd" ng-repeat="client in model.filteredClients | startFrom:(model.currentPage-1)*model.limit | limitTo: model.limit">
                            <td style="max-width:150px;" class="sorting_1">{{client.name}}</td>
                            <td style="max-width:150px;">{{client.email}}</td>
                            <td style="max-width:150px;">{{client.phone}}</td>
                            <td style="max-width:150px;" class="center">{{client.codeISO}}</td>
                            <td style="max-width:70px; text-align: center">
                                <input type="checkbox" style="width: 20px; height: 20px;" ng-model="client.scheduledClient" ng-checked="client.scheduledClient == 1"
                                    ng-change="model.schedule(client)">
                            </td>
                            <td style="max-width:70px; text-align: center">
                                <input type="checkbox" style="width: 20px; height: 20px;" ng-model="client.approved" ng-change="model.activation(client)">
                            </td>
                            <td class="text-right">
                                <div class="btn-group">
                                    <button style="margin-right:3px" class="btn btn-info" ng-click="model.accountStatementView(client)">Statement</button>
                                    <button style="margin-right:3px" class="btn btn-info" ng-click="model.settingsView(client)">Settings</button>
                                    <a style="margin-right:3px" ng-click="model.editView(client)" class="btn btn-primary">Edit</a>
                                    <a style="margin-right:3px" ng-click="model.clientsChangePassword(client)" class="btn btn-primary">Change Password</a>
                                    <a userid="5947c778740b59bc17e6b2e4" class="delete_carrier">
                                    <button class="btn btn-danger" ng-click="model.delete(client)"><i
                                        class="fa fa-times"></i></button>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-center">
                    <ul uib-pagination total-items="model.totalItems" ng-model="model.currentPage" max-size="5" items-per-page="model.limit"
                        class="pagination-sm" boundary-links="true" num-pages="model.numPages"></ul>
                </div>
            </div>
        </div>
    </div>
</div>