<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <section class="panel-body">
                    <form novalidate class="simple-form" name="createClientForm">
                        <div class="alert alert-danger" ng-if="model.error" role="alert">{{model.error}}</div>
                        <label>E-mail:
                            <input type="email" ng-model="model.client.email" required
                                   class="form-control"/></label><br/>
                        <label>Password: <input type="password" ng-model="model.client.password" required
                                                class="form-control"/></label><br/>
                        <input ng-disabled="createClientForm.$invalid" type="submit" ng-click="model.create()"
                               class="btn btn-success" value="Create"/>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>