<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="col-lg-4"><h5>Total: {{model.clients.length}}</h5></div>
                    <!--<div style="text-align:right;" class="col-lg-8 m-t-n-sm"><a href="/clientroutedownload"-->
                                                                                <!--class="btn btn-primary">Download-->
                        <!--Routes</a><a style="margin-left:3px;" href="/assignroutesmanually" class="btn btn-primary">Assign-->
                        <!--Routes Manually</a></div>-->
                    <!--<div class="ibox-tools"></div>-->
                </div>
                <div class="ibox-content">
                    <table class="table table-stripped">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Contact No.</th><!--th(style='width:30%;') Assign Carrier-->
                            <th>Assigned Driver</th>
                            <th>Routes</th>
                            <th>Assign Route To Carrier</th>
                            <th>Upload Routes</th>
                            <th>Assign Carrier to Client</th>
                            <th>Scheduled Settings</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody><!-- ngRepeat: item in clientsLists -->
                        <tr ng-repeat="client in model.clients" class="ng-scope">
                            <td class="col-md-1 ng-binding">{{client.name}}</td>
                            <td class="col-md-2 ng-binding">{{client.email}}</td>
                            <td class="col-md-1 ng-binding">{{client.phone}}</td>
                            <!--td(style='width:30%;')select(name='carrier',ng-model='carriers', ng-options="carrier as carrier.name for carrier in allCarriers track by carrier._id",chosen,multiple,placeholder-text-multiple='select carrier')-->
                            <td class="col-md-1 ng-binding">0</td>
                            <td class="col-md-1"><a ng-click="viewClientsRoute(item);"
                                                    class="btn-btn-info ng-binding">0</a></td>
                            <td class="col-md-2">
                                <!--<div class="btn-group"><a ng-click="assignRoute(item);" style="margin-right:3px"-->
                                                          <!--class="btn btn-info">Assign Route</a></div>-->
                            </td>
                            <td class="col-md-1">
                                <!--<div class="btn-group"><a ng-click="uploadRoutes(item);" style="margin-right:3px"-->
                                                          <!--class="btn btn-info">Upload</a></div>-->
                            </td>
                            <td class="col-md-1">
                                <div class="btn-group"><a ng-click="model.assignCarrierToClientView(client)"
                                                          style="margin-right:3px" class="btn btn-info">Assign</a></div>
                            </td>
                            <td class="col-md-1">
                                <div class="btn-group"><a ng-click="model.scheduledSettingView(client)" style="margin-right:3px"
                                                          class="btn btn-info">Settings</a></div>
                            </td>
                            <td class="col-md-1">
                                <div class="btn-group"><a ng-click="model.unSchedule(client)" style="margin-right:3px"
                                                          class="btn btn-danger"><i class="fa fa-times"></i></a></div>
                            </td>
                        </tr><!-- end ngRepeat: item in clientsLists --></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>