    <div class="">
        <div style="margin-top:15px;" class="ibox">
            <div class="ibox-title">
                <div style="overflow:auto;" class="form-group">
                    <div class="col-lg-offset-1 col-lg-4 col-md-4"><h5>Scheduled Setting:</h5></div>
                </div>
            </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-offset-1 col-lg-9 col-md-9">
                        <div class="alert alert-success" ng-show="model.showSuccess">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            {{model.showMsg}}
                        </div>
                        <label class="control-label">Pickup Addresses</label>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div ng-repeat="address in model.bufAddresses" class="form-group">
                                        <div class="input-group">
                                            <label for="addr">Pickup Address №{{$index + 1}}</label>
                                            <input placeholder="Location" required="" class="form-control" g-places-autocomplete ng-model="address.value"
                                                autocomplete="off" id="addr" />
                                            <span style="vertical-align: bottom;" class="input-group-btn">
                                                <button ng-click="model.deleteAddress($index)" class="btn btn-primary">
                                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                                </button>
                                            </span>
                                            <span ng-show="$last" style="vertical-align: bottom;" class="input-group-btn">
                                                <button ng-click="model.addAddress()" class="btn btn-info">
                                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                                </button>
                                            </span>
                                        </div>
                                        <div class="input-group">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" ng-model="address.default" ng-change="model.changeDefault($index)" id="default"> Default?
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-show="model.bufAddresses.length == 0" style="text-align: center;">
                                        <div class="input-group center-block col-lg-4 col-md-4">
                                            <strong>Add pickup address</strong>
                                        </div>
                                        <div class="input-group center-block col-lg-4 col-md-4">
                                            <button ng-click="model.addAddress()" class="btn btn-info glyphicon glyphicon-plus btn-block"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group"><label class="control-label">Pickup Deadline From</label>
                                <div data-autoclose="true" class="input-group clockpickerFromPick"><input type="text"
                                                                                             ng-model="model.settings.pickup_deadline"
                                                                                             required=""
                                                                                             class="form-control ng-pristine ng-untouched ng-valid ng-valid-required"><span
                                        class="input-group-addon"><span class="fa fa-clock-o"></span></span></div>
                            </div>
                            <div class="form-group"><label class="control-label">Pickup Deadline To</label>
                                <div data-autoclose="true" class="input-group clockpickerFromPick"><input type="text"
                                                                                             ng-model="model.settings.pickup_deadline_to"
                                                                                             required=""
                                                                                             class="form-control ng-pristine ng-untouched ng-valid ng-valid-required"><span
                                        class="input-group-addon"><span class="fa fa-clock-o"></span></span></div>
                            </div>
                            <div class="form-group"><label data-i18n="body.delivery_window_start"
                                                           class="control-label">Delivery Window Start</label>
                                <div data-autoclose="true"
                                     class="input-group clockpickerFromPick"><input type="text" ng-model="model.settings.delivery_window_start"
                                                                                             required=""
                                                                                             class="form-control ng-pristine ng-untouched ng-valid ng-valid-required"><span
                                        class="input-group-addon"><span class="fa fa-clock-o"></span></span></div>
                            </div>
                            <div class="form-group"><label class="control-label">Delivery Window End</label>
                                <div data-autoclose="true" class="input-group clockpickerFromPick"><input type="text" ng-model="model.settings.delivery_window_end"
                                                                                             required=""
                                                                                             class="form-control ng-pristine ng-untouched ng-valid ng-valid-required"><span
                                        class="input-group-addon"><span class="fa fa-clock-o"></span></span></div>
                            </div>
                           
                            <div class="form-group">
                                <h4>NOTIFICATIONS</h4>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" ng-model="model.settings.allow_to_send_email">
                                <label class="control-label">Allow to send Email?</label>
                            </div>

                            <div ng-if="model.settings.allow_to_send_email" class="detail-setting-group">
                                <div class="form-group">
                                    <input type="checkbox" ng-model="model.settings.email_notification_setting.delivery_created">
                                    <label class="control-label" style="font-weight: unset">Created</label>
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" ng-model="model.settings.email_notification_setting.delivery_assigned">
                                    <label class="control-label" style="font-weight: unset">Assigned</label>
                                </div>
                                <!--<div class="form-group">
                                    <input type="checkbox" ng-model="model.settings.email_notification_setting.delivery_status_changed">
                                    <label class="control-label">When delivery is changed</label>
                                </div>-->
                                <div class="form-group">
                                    <input type="checkbox" ng-model="model.settings.email_notification_setting.delivery_arrive_before">
                                    <label class="control-label" style="font-weight: unset">15 minutes before arrival</label>
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" ng-model="model.settings.email_notification_setting.delivery_finished">
                                    <label class="control-label" style="font-weight: unset">Finished</label>
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" ng-model="model.settings.email_notification_setting.delivery_delayed">
                                    <label class="control-label" style="font-weight: unset">Delayed</label>
                                </div>
                            </div>

                            <div class="form-group">
                                <input type="checkbox" ng-model="model.settings.allow_to_send_SMS">
                                <label class="control-label">Allow to send SMS?</label>
                            </div>
                            <div ng-if="model.settings.allow_to_send_SMS" class="detail-setting-group">
                                <div class="form-group">
                                    <input type="checkbox" ng-model="model.settings.sms_notification_setting.delivery_created">
                                    <label class="control-label" style="font-weight: unset">Created</label>
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" ng-model="model.settings.sms_notification_setting.delivery_assigned">
                                    <label class="control-label" style="font-weight: unset">Assigned</label>
                                </div>
                                <!--<div class="form-group">
                                    <input type="checkbox" ng-model="model.settings.sms_notification_setting.delivery_status_changed">
                                    <label class="control-label">When delivery is changed</label>
                                </div>-->
                                <div class="form-group">
                                    <input type="checkbox" ng-model="model.settings.sms_notification_setting.delivery_arrive_before">
                                    <label class="control-label" style="font-weight: unset">15 minutes before arrival</label>
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" ng-model="model.settings.sms_notification_setting.delivery_finished">
                                    <label class="control-label" style="font-weight: unset">Finished</label>
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" ng-model="model.settings.sms_notification_setting.delivery_delayed">
                                    <label class="control-label" style="font-weight: unset">Delayed</label>
                                </div>
                            </div>

                            <div class="form-group">
                                <input type="checkbox" ng-model="model.settings.allow_to_reschedule">
                                <label class="control-label">Allow to reschedule?</label>
                            </div>
                            <div class="form-group">
                                <h4>DELIVERY METHODS ALLOWED</h4>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" ng-model="model.settings.home_delivery">
                                <label>Home Deliver</label>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" ng-model="model.settings.store_pickup">
                                <label>Store Pickup</label>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" ng-model="model.settings.allow_delivery_address">
                                <label>Change Delivery Address</label>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" ng-model="model.settings.allow_delivery_time">
                                <label>Change Delivery Time</label>
                            </div>
                            <div class="form-group">
                                <label>Week Days Available</label>
                                <div class="input-group">
                                    <div ng-repeat="(key, value) in model.week_days_available">
                                        <input type="checkbox" ng-model="model.week_days_available[key].checked" ng-change="model.checkDays(key)">
                                        <span>{{key}}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                    <input type="checkbox" ng-model="model.settings.allow_signature">
                                    <label class="control-label">Allow signature</label>
                            </div>

                            <div class="form-group">
                                <h4>DELIVERY REPORT SETTINGS</h4>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" ng-model="model.settings.allow_to_receive_daily_report">
                                <label class="control-label">Allow to receive daily report</label>

                            </div>
                            <div class="form-group">
                                <input type="checkbox" ng-model="model.settings.allow_to_receive_end_of_day_report">
                                <label class="control-label">Allow to receive end of day report</label>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" ng-model="model.settings.allow_to_receive_end_of_week_report">
                                <label class="control-label">Allow to receive end of week report</label>
                            </div>
                            <!--<div class="form-group">
                                <label>ZipCodes Available</label>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-3">
                                    <input type="text" placeholder="Range From" class="form-control" ng-model="model.zip.range_from">
                                </div>
                                <div class="col-lg-3">
                                    <input type="text" placeholder="Range To" class="form-control" ng-model="model.zip.range_to">
                                </div>
                                <div class="col-lg-3">
                                    <input type="text" placeholder="Price" class="form-control" ng-model="model.zip.price">
                                </div>
                                <div class="col-lg-2">
                                    <div class="pull-right">
                                    <button class="btn btn-info" ng-click="model.addZip()">Add Zip</button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <th>Range From</th>
                                        <th>Range To</th>
                                        <th>Price</th>
                                        <th>Action</th>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="zip in model.settings.zip" show-time-picker>
                                            <td>{{zip.range_from}}</td>
                                            <td>{{zip.range_to}}</td>
                                            <td>{{zip.price}}</td>
                                            <td><button class="btn btn-danger"><i class="fa fa-times"></i></button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="form-group">
                                <label>Delivery Windows</label>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-2">
                                    <input type="text" placeholder="Zip From" class="form-control" ng-model="model.delivery_windows.zip_from">
                                </div>
                                <div class="col-lg-2">
                                    <input type="text" placeholder="Zip To" class="form-control" ng-model="model.delivery_windows.zip_to">
                                </div>
                                <div class="col-lg-3">
                                    <div data-autoclose="true" class="input-group clockpickerFromPick"><input type="text" placeholder="Time from"
                                                                                                              ng-model="model.delivery_windows.time_from"
                                                                                                              class="form-control"><span
                                            class="input-group-addon"><span class="fa fa-clock-o"></span></span></div>
                                </div>
                                <div class="col-lg-3">
                                    <div data-autoclose="true" class="input-group clockpickerFromPick"><input type="text" placeholder="Time to"
                                                                                                              ng-model="model.delivery_windows.time_to"
                                                                                                              class="form-control"><span
                                            class="input-group-addon"><span class="fa fa-clock-o"></span></span></div>
                                </div>
                                <div class="col-lg-2">
                                    <button class="btn btn-info pull-right" ng-click="model.addDeliveryWindows()">Add</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                    <th>Range From</th>
                                    <th>Range To</th>
                                    <th>Delivery Window Start</th>
                                    <th>Delivery Window End</th>
                                    <th>Action</th>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="zip in model.settings.delivery_windows">
                                        <td>{{zip.zip_from}}</td>
                                        <td>{{zip.zip_to}}</td>
                                        <td>{{zip.time_from}}</td>
                                        <td>{{zip.time_to}}</td>
                                        <td><button class="btn btn-danger"><i class="fa fa-times"></i></button></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="form-group">
                                <label>Allowed pickup areas (zip codes)</label>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-3">
                                    <input type="text" placeholder="Range From" class="form-control" ng-model="model.allowed_pickups_zone.range_from">
                                </div>
                                <div class="col-lg-3">
                                    <input type="text" placeholder="Range To" class="form-control" ng-model="model.allowed_pickups_zone.range_to">
                                </div>
                                <div class="col-lg-2">
                                    <div class="pull-right">
                                    <button class="btn btn-info" ng-click="model.addAllowedPickupZone()">Add</button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <th>Range From</th>
                                        <th>Range To</th>
                                        <th>Action</th>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="zone in model.settings.allowed_pickups_zones" show-time-picker>
                                            <td>{{zone.range_from}}</td>
                                            <td>{{zone.range_to}}</td>
                                            <td><button class="btn btn-danger"><i class="fa fa-times"></i></button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>-->
                            <div class="form-group">
                                <label>Services Enabled</label>
                            </div>
                            <div class="form-group">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <th>Services\Countries</th>
                                        <th class="text-center">Denmark</th>
                                        <th class="text-center">Sweden</th>
                                        <th class="text-center">Finland</th>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="service in model.enabled_services">
                                            <td>{{service.name}}</td>
                                            <td class="text-center"><input ng-if="service.country_settings" type="checkbox" name="enabled" ng-model="service.country_settings.DK"></td>
                                            <td class="text-center"><input ng-if="service.country_settings" type="checkbox" name="enabled" ng-model="service.country_settings.SWE"></td>
                                            <td class="text-center"><input ng-if="service.country_settings" type="checkbox" name="enabled" ng-model="service.country_settings.FIN"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" ng-model="model.settings.dropshipping_enabled">
                                <label class="control-label">Enable Dropshipping?</label>
                            </div>
                            <!--<div class="form-group">
                                <input type="checkbox" ng-model="model.settings.allow_delivery">
                                <label class="control-label">Enable Delivery?</label>
                            </div>-->
                            <div class="form-group">
                                <input type="checkbox" ng-model="model.settings.allow_return">
                                <label class="control-label">Enable Return?</label>
                            </div>
                            <div class="form-group">
                                    <input type="checkbox" ng-model="model.settings.allow_express">
                                    <label class="control-label">Enable Express?</label>
                                </div>
                                <div class="form-group">
                                <h4>INTEGRATION</h4>
                                <input type="checkbox" ng-model="model.settings.webshipr_integration_enabled">
                                <label class="control-label">Enable Webshipr integration?</label>
                            </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                    <button type="reset" data-i18n="body.cancel" ng-click="model.resetForm()" class="btn btn-white">
                                        Reset
                                    </button>
                                    <button type="submit" style="margin-left:5px;"
                                    class="btn btn-primary" ng-click="model.updateSettings()">Submit
                                </button>
                            </div>
                        </div>
        </div>
    </div>
<script>
    $(document).ready(function () {
        $('.clockpickerFromPick').clockpicker();
    });
</script>