<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success" ng-show="model.showSuccess">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{model.showMsg}}
            </div>
            <div class="panel">
                <form method="post" id="updateUserForm">
                    <section class="panel-body">
                        <div class="form-group"><label data-i18n="email" class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-10"><input ng-model="model.organization.email" type="email" name="email"
                                                          class="m-b form-control"></div>
                        </div>
                        <div class="form-group"><label data-i18n="" class="col-sm-2 control-label">CPR</label>
                            <div class="col-sm-10"><input ng-model="model.organization.cpr" type="text" name="cpr" class="m-b form-control">
                            </div>
                        </div>
                        <div class="form-group"><label data-i18n="" class="col-sm-2 control-label">Compnay Name</label>
                            <div class="col-sm-10"><input ng-model="model.organization.companyDetails.companyName" type="text" name="companyName"
                                                          class="m-b form-control"></div>
                        </div>
                        <div class="form-group"><label data-i18n="" class="col-sm-2 control-label">TaxId</label>
                            <div class="col-sm-10"><input ng-model="model.organization.companyDetails.taxId" type="text" name="taxId" class="m-b form-control">
                            </div>
                        </div>
                        <div class="form-group"><label data-i18n="" class="col-sm-2 control-label">Compnay
                            Address</label>
                            <div class="col-sm-10"><input ng-model="model.organization.companyDetails.companyAddress" type="text" name="companyAddress"
                                                          class="m-b form-control"></div>
                        </div>
                        <!-- <div class="form-group"><label data-i18n="body.country"
                                                       class="col-sm-2 control-label">Country</label>
                            <div class="col-sm-10">
                                <select ng-model="model.organization.codeISO" ng-change="model.updateCCODE()" class="m-b form-control m-b">
                                    <option ng-repeat="(key, value) in model.ccodes" value="{{key}}" ng-model="model.organization.ccode">{{key}}</option>
                                </select>
                            </div>
                        </div> -->
                        <div class="form-group"><label data-i18n="phone" class="col-sm-2 control-label">Phone</label>
                            <div class="col-sm-2 contact-country-code">
                                <select class=" form-control" style="min-height: 30px;" ng-model="model.organization.ccode"
                                    ng-options="obj.value as obj.name for obj in model.countryOptions"></select>
                            </div>
                            <div class="col-sm-8 phone-number"><input ng-model="model.organization.phone" type="tel" name="mbl"
                                                                      onkeypress="return event.charCode >= 48 &amp;&amp; event.charCode <= 57"
                                                                      id="mobile" class="m-b form-control">
                                <div style="display:none;" id="loader" class="contact-loader"><img
                                        src="../img/loading_small.gif" class="loader-image"><span>validating phone number</span>
                                </div>
                                <span style="display:none;color:red;" id="validation-error">Please enter valid phone number</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button type="submit" style="margin-left:5px" data-i18n="body.save"
                                        class="btn btn-primary" ng-click="model.edit()">Save
                                </button>
                            </div>
                        </div>
                    </section>
                </form>
            </div>
        </div>
    </div>
</div>