<div class="wrapper wrapper-content">
    <div class="ibox-content">
        <div class="hr-line-dashed"></div>
        <div class="table-responsive">
            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                <div class="dataTables_length" id="DataTables_Table_0_length"><label>Show
                    <show-entries limit-to="model.limit"></show-entries>
                    entries</label></div>

                <div id="DataTables_Table_0_filter" class="dataTables_filter pull-right"><label>Search:
                    <input type="search" ng-model="model.search" ng-change="model.filterOrganizations()"></label>
                </div>

                <table class="table table-striped table-hover"
                        id="DataTables_Table_0">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <!-- <th>CVR</th> -->
                        <th>Creator Name</th>
                        <th>Creator Email</th>
                        <th>Creator Phone</th>
                        <!-- <th>Address</th> -->
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="gradeX" ng-repeat="organization in model.filteredOrganizations | startFrom:(model.currentPage-1)*model.limit | limitTo: model.limit">
                        <td><a ui-sref="organizationDetails({organizationId: organization._id})">{{organization.name}}</a></td>
                        <!-- <td></td> -->
                        <td>{{organization.name}}</td>
                        <td>{{organization.email}}</td>
                        <td>{{organization.phone}}</td>
                        <!-- <td></td> -->
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-info" ui-sref="organizationDetails({organizationId: organization._id})" style="margin-right:3px" >View</button>
                                <a style="margin-right:3px" class="btn btn-primary" ng-click="model.organizationEditView(organization)">Edit</a>
                                <a class="delete_carrier">
                                <button class="btn btn-danger" ng-click="model.delete(organization)"><i class="fa fa-times"></i></button>
                                <a style="margin-right:3px" ng-click="model.changePassword(organization)" class="btn btn-primary">Change Password</a>
                            </a></div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="text-center">
                    <ul uib-pagination total-items="model.totalItems" ng-model="model.currentPage" max-size="5" items-per-page="model.limit"
                        class="pagination-sm" boundary-links="true" num-pages="model.numPages"></ul>
                </div>
    
            </div>    
        </div>
    </div>
</div>