<div class="wrapper wrapper-content">
    <div class="ibox-content">
        <div class="hr-line-dashed"></div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover dataTables-example dataTable"
                   id="DataTables_Table_0">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>E-mail Address</th>
                    <th>Phone</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr class="gradeX" ng-repeat="coworker in model.coworkers">
                    <td>{{coworker.name}}</td>
                    <td>{{coworker.email}}</td>
                    <td>{{coworker.phone}}</td>
                    <td>
                        <div class="btn-group"><a style="margin-right:3px" class="btn btn-primary" ng-click="model.coWorkerEditView(coworker)">Edit</a>
                            <a class="delete_carrier">
                            <button class="btn btn-danger" ng-click="model.delete(coworker)"><i class="fa fa-times"></i></button>
                        </a></div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>