<div class="wrapper wrapper-content">
    <div class="ibox-content">
        <div class="table-responsive">
            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                <div class="dataTables_length" id="DataTables_Table_0_length"><label>Show
                    <show-entries limit-to="model.limit"></show-entries>
                    entries</label></div>

                <div id="DataTables_Table_0_filter" class="dataTables_filter pull-right"><label>Search:
                    <input type="search" ng-model="model.search" ng-change="model.filterPickups()"></label>
                </div>

                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Client</th>
                        <th>Address</th>
                        <th>Deadline from</th>
                        <th>Deadline to</th>
                        <th>Date</th>
                        <th>Week day</th>
                        <th># of deliveries</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in model.filteredPickups | startFrom:(model.currentPage-1)*model.limit | limitTo: model.limit">
                        <td>{{item.creator.name}}</td>
                        <td>{{item.pickupaddress}}</td>
                        <td>{{item.pickup_deadline}}</td>
                        <td>{{item.pickup_deadline_to}}</td>
                        <td>{{item.deliverydate}}</td>
                        <td>{{item.deliverydayofweek}}</td>
                        <td>{{item.deliveriesCount}}</td>
                    </tbody>
                </table>
                <div class="text-center">
                    <ul uib-pagination
                        total-items="model.totalItems"
                        ng-model="model.currentPage"
                        max-size="5"
                        items-per-page="model.limit"
                        class="pagination-sm"
                        boundary-links="true"
                        num-pages="model.numPages"></ul>
                </div>
            </div>
        </div>
    </div>
</div>