<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <section class="panel-header text-right">
                    <div class="col-md-12" style="padding-top:12px;">
                        <input ng-disabled="editServiceForm.$invalid" type="submit" ng-click="model.save()" class="btn btn-success"
                            value="Save" />
                    </div>
                </section>
                <section class="panel-body">
                    <form novalidate class="simple-form" name="editServiceForm">
                        <div class="alert alert-danger" ng-if="model.error" role="alert">{{model.error}}</div>

                        <div class="col-md-10 mgb-20">
                            <label>Name</label>
                            <input type="text" ng-model="model.service.name" required class="form-control" />
                        </div>


                        <div class="col-md-10 mgb-20">
                            <label>Description </label>
                            <input type="text" ng-model="model.service.description" required class="form-control" />
                        </div>

                        <div class="col-md-10 mgb-20">
                            <div class="form-group"><label class="control-label">Delivery Windows Default</label>
                                <textarea rows="3" style="resize: none;" class="form-control" id="sms" placeholder="Enter delivery window default time"
                                                    ng-model="model.service.delivery_window_default"></textarea>
                            </div>
                        </div>

                        <div class="col-md-10 mgb-20">
                            <div class="form-group"><label class="control-label">Delivery Windows</label>
                                <textarea rows="10" style="resize: none;" class="form-control" id="sms" placeholder="Enter delivery window time"
                                                    ng-model="model.service.delivery_window"></textarea>
                            </div>
                        </div>
                        
                        <div class="col-md-10 mgb-20">
                            <div class="form-group"><label class="control-label">Delivery Areas</label>
                                <textarea rows="10" style="resize: none;" class="form-control" id="sms" placeholder="Enter deliveryareas"
                                                    ng-model="model.service.delivery_area"></textarea>
                            </div>
                        </div>
    

                        <div class="col-md-10 mgb-20">
                            <div class="form-group">
                                <label style="margin-right:8px;">Enabled</label>
                                <input type="checkbox" name="enabled" ng-model="model.service.enabled">
                            </div>
                        </div>                     
                        
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>