<div class="wrapper wrapper-content animated fadeInRight">
    <div ng-show="!assignDiv" class="">
        <div class="row mgb-20">
            <div class="col-sm-12"><h2 data-i18n="">Services </h2></div>
            <div class="col-sm-12 text-right">
                <button type="button" ui-sref="serviceCreate"
                    class="btn btn-success">Add Service
                </button>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Enabled</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="service in model.services">
                    <td>{{service.name}}</td>
                    <td>{{service.description}}</td>
                    <td>{{service.enabled?'Y':'N'}}</td>
                    <td><div class="btn-group">
                        <a style="margin-right:3px" ng-click="model.editView(service)" class="btn btn-primary">Edit</a>
                        <a ng-click="model.delete(service)" style="margin-right:3px" class="btn btn-danger"><i class="fa fa-times"></i></a>
                    </div></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>