<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-md-12 mgb-20">
            <h2>Account Statement of <b>{{model.client.name}}</b></h2>
        </div>
        <div class="col-md-6">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="ibox-title payments-title">
                                <h3>Payments</h3>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <a class="btn btn-success add-payment" data-toggle="modal" data-target="#addPaymentModal">Add Payment</a>
                        </div>
                    </div>
                    <table class="table table-stripped">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Description</th>
                                <th>Value</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in model.payments" class="ng-scope">
                                <td class="col-md-1 ng-binding">{{item.date | date:'MM/dd/yyyy'}}</td>
                                <td class="col-md-1 ng-binding">{{item.description}}</td>
                                <td class="col-md-1 ng-binding">{{item.value}}</td>
                                <td class="col-md-1 ng-binding">
                                    <div class="btn-group" style="float:right;">
                                        <a style="margin-right:3px" ng-click="model.setCurrentPayment(item)" class="btn btn-primary" data-toggle="modal" data-target="#editPaymentModal">Edit</a>
                                        <button class="btn btn-danger" ng-click="model.deletePayment(item._id)"><i class="fa fa-times"></i></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="ibox-title expenses-title">
                                <h3>Expenses</h3>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <a class="btn btn-success add-expense" data-toggle="modal" data-target="#addExpenseModal">Add Expense</a>
                        </div>
                    </div>
                    <table class="table table-stripped">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Description</th>
                                <th>Value</th>
                                <th>Paid</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in model.expenses" class="ng-scope">
                                <td class="col-md-1 ng-binding">{{item.date | date:'MM/dd/yyyy'}}</td>
                                <td class="col-md-1 ng-binding">{{item.description}}</td>
                                <td class="col-md-1 ng-binding">{{item.value}}</td>
                                <td class="col-md-1 ng-binding">{{item.paid ? 'Yes' : 'No'}}</td>
                                <td class="col-md-1 ng-binding">
                                    <div class="btn-group" style="float:right;">
                                        <a style="margin-right:3px" ng-click="model.setCurrentExpense(item)" class="btn btn-primary" data-toggle="modal" data-target="#editExpenseModal">Edit</a>
                                        <button class="btn btn-danger" ng-click="model.deleteExpense(item._id)"><i class="fa fa-times"></i></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- addPaymentModal -->
        <div class="modal fade" id="addPaymentModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <h3 class="mgb-20">Enter payment values</h3>
                        <div class="text-center action-row">
                            <input type="text" class="form-control mgb-20" ng-model="model.newPayment.description" placeholder="Description">
                            <input type="text" class="form-control mgb-20" ng-model="model.newPayment.value" placeholder="Value">
                        </div>
                        <a ng-if="model.checkIfNumber(model.newPayment.value)" data-dismiss="modal" class="btn btn-success" ng-click="model.addPayment()">Confirm</a>
                        <a disabled ng-if="!model.checkIfNumber(model.newPayment.value)" class="btn btn-success">Confirm</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- addPaymentModal -->

        <!-- editPaymentModal -->
        <div class="modal fade" id="editPaymentModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <h3 class="mgb-20">Enter payment values</h3>
                        <div class="text-center action-row">
                            <input type="text" class="form-control mgb-20" ng-model="model.selectedPayment.description" placeholder="Description">
                            <input type="text" class="form-control mgb-20" ng-model="model.selectedPayment.value" placeholder="Value">
                        </div>
                        <a ng-if="model.checkIfNumber(model.selectedPayment.value)" data-dismiss="modal" class="btn btn-success" ng-click="model.editPayment()">Confirm</a>
                        <a disabled ng-if="!model.checkIfNumber(model.selectedPayment.value)" class="btn btn-success">Confirm</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- editPaymentModal -->

        <!-- addExpenseModal -->
        <div class="modal fade" id="addExpenseModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <h3 class="mgb-20">Enter expense values</h3>
                        <div class="text-center action-row">
                            <input type="text" class="form-control mgb-20" ng-model="model.newExpense.description" placeholder="Description">
                            <input type="text" class="form-control mgb-20" ng-model="model.newExpense.value" placeholder="Value">
                        </div>
                        <div class="mgb-20">
                            <input type="checkbox" ng-model="model.newExpense.paid">
                            <label class="control-label">Paid</label>
                        </div>
                        <a ng-if="model.checkIfNumber(model.newExpense.value)" class="btn btn-success" data-dismiss="modal" ng-click="model.addExpense()">Confirm</a>
                        <a disabled ng-if="!model.checkIfNumber(model.newExpense.value)" class="btn btn-success">Confirm</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- addExpenseModal -->

        <!-- editExpenseModal -->
        <div class="modal fade" id="editExpenseModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <h3 class="mgb-20">Enter expense values</h3>
                        <div class="text-center action-row">
                            <input type="text" class="form-control mgb-20" ng-model="model.selectedExpense.description" placeholder="Description">
                            <input type="text" class="form-control mgb-20" ng-model="model.selectedExpense.value" placeholder="Value">
                        </div>
                        <div class="mgb-20">
                            <input type="checkbox" ng-model="model.selectedExpense.paid">
                            <label class="control-label">Paid</label>
                        </div>
                        <a ng-if="model.checkIfNumber(model.selectedExpense.value)" data-dismiss="modal" class="btn btn-success" ng-click="model.editExpense()">Confirm</a>
                        <a disabled ng-if="!model.checkIfNumber(model.selectedExpense.value)" class="btn btn-success">Confirm</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- editExpenseModal -->
    </div>
</div>